:root {
  --font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: "SFMono-Regular", Consolas, Menlo, Courier, monospace;
  /**
   * Colors
   */
  --color-black: #221f2b;
  --color-white: #fafafa;
  --color-black-lighter: #696672;
  --color-black-lightest: rgba(34, 31, 43, .08);
  --color-blue: #2858e3;
  --color-blue-lighter: #8faafd;

  --color-text: var(--color-black);
  --color-text-lighter: var(--color-black-lighter);
  --color-primary: var(--color-blue);
  --color-ruler: var(--color-black-lightest);
  --color-background: var(--color-white);

  --font-size-base: 1em;
  --spacing-unit: .5em;
}

.mcg-dark-theme {
  --color-primary: var(--color-blue-lighter);
  --color-background: var(--color-black);
  --color-text: var(--color-white);
  --color-text-lighter: var(--color-white);
}

html {
  font-size: 100%;
}

@media screen and (min-width: 36em) {
  html {
    font-size: 120%;
  }

  :root {
    --spacing-unit: .75rem;
  }
}

@media screen and (min-width: 52em) {
  html {
    font-size: 130%;
  }

  :root {
    --spacing-unit: 1rem;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-base);
  color: var(--color-text);
  line-height: 1.65;
  padding: 0;
  margin: 0;
}

a {
  color: var(--color-primary);
}

a:focus,
button:focus {
  outline: 2px dotted var(--color-primary);
  outline-offset: 4px;
}

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
}

img {
  display: block;
  width: 100%;
}

pre {
  border-radius: .25em;
  line-height: 1.75;
}

pre code {
  font-size: .75em;
}

code {
  color: #e0533a;
  background-color: var(--color-black-lightest);
  display: inline-block;
  padding: 0 .25em;
  border-radius: .25em;
}

/**
 * Visually hide elements but leave them accessible to screen readers
 */

.mcg-sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the
 * keyboard: h5bp.com/p
 */

.mcg-sr-only.focusable:active,
.mcg-sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/**
 * Spacing utils
 */

.mcg-pt-sm {
  padding-top: calc(var(--spacing-unit) * 2) !important;
}

.mcg-pt-md {
  padding-top: calc(var(--spacing-unit) * 4) !important;
}

.mcg-pt-lg {
  padding-top: calc(var(--spacing-unit) * 6) !important;
}

.mcg-pt-xl {
  margin-top: calc(var(--spacing-unit) * 8) !important;
}

.mcg-mt-sm {
  margin-top: calc(var(--spacing-unit) * 2) !important;
}

.mcg-mt-md {
  margin-top: calc(var(--spacing-unit) * 4) !important;
}

.mcg-mt-lg {
  margin-top: calc(var(--spacing-unit) * 6) !important;
}

.mcg-mt-xl {
  margin-top: calc(var(--spacing-unit) * 8) !important;
}

.mcg-ml-sm {
  margin-left: calc(var(--spacing-unit) * 2) !important;
}

.mcg-ml-md {
  margin-left: calc(var(--spacing-unit) * 4) !important;
}

.mcg-ml-lg {
  margin-left: calc(var(--spacing-unit) * 6) !important;
}

.mcg-ml-xl {
  margin-left: calc(var(--spacing-unit) * 8) !important;
}

.mcg-pb-sm {
  padding-bottom: calc(var(--spacing-unit) * 2) !important;
}

.mcg-pb-md {
  padding-bottom: calc(var(--spacing-unit) * 4) !important;
}

.mcg-pb-lg {
  padding-bottom: calc(var(--spacing-unit) * 6) !important;
}

.mcg-pb-xl {
  margin-bottom: calc(var(--spacing-unit) * 8) !important;
}

.mcg-mb-none {
  margin-bottom: 0 !important;
}

.mcg-mb-sm {
  margin-bottom: calc(var(--spacing-unit) * 2) !important;
}

.mcg-mb-md {
  margin-bottom: calc(var(--spacing-unit) * 4) !important;
}

.mcg-mb-lg {
  margin-bottom: calc(var(--spacing-unit) * 6) !important;
}

.mcg-mb-xl {
  margin-bottom: calc(var(--spacing-unit) * 8) !important;
}

/**
 * Typography
 */
.mcg-section-heading {
  font-size: 2em;
  line-height: 1.2;
  margin-top: 0;
}

.mcg-sub-heading {
  margin-top: 3em;
  font-size: 1.25em;
  font-weight: 500;
}

/**
 * Layout
 */
.mcg-wrapper {
  max-width: 40em;
  padding: calc(var(--spacing-unit) * 3) calc(var(--spacing-unit) * 4);
  position: relative;
}

.mcg-wrapper h1:first-child {
  margin-top: 0;
}

.mcg-wrapper--wider {
  max-width: 48em;
}

.mcg-wrapper--shorter {
  padding-top: var(--spacing-unit);
  position: relative;
}

.mcg-wrapper--full {
  max-width: 100%;
}

/**
 * Grid stuff
 */
.mcg-grid {
  margin-top: 0;
  list-style: none;
  padding: 0;
}

.mcg-grid__item {
  margin-bottom: calc(var(--spacing-unit) * 3);
}

@media screen and (min-width: 360px) {
  .mcg-grid {
    display: grid;
    grid-gap: calc(var(--spacing-unit) * 3);
    gap: calc(var(--spacing-unit) * 3);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .mcg-grid__item {
    margin-bottom: 0;
  }
}
/*
.mcg-artwork-page {
  background-image: url("../img/dot-pattern.jpg");
  background-size: 800px;
  background-position-x: right;
  background-position-y: 20vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.mcg-posts-page {
  background-image: url("../img/scribble.jpg");
  background-size: 200px;
  background-position-x: right;
  background-position-y: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media screen and (min-width: 36em) {
  .mcg-posts-page {
    background-size: 400px;
  }
}

@media screen and (min-width: 75em) {
  .mcg-posts-page {
    background-size: 600px;
    background-position-y: 10vh;
  }

  .mcg-home-page {
    background-image: url("../img/hey-background.jpg");
    background-size: 600px;
    background-position-x: 95%;
    background-position-y: 20vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
*/

@media screen and (min-width: 36em) {
  .mcg-intro svg {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 52em) {
  .mcg-intro {
    postion: absolute;
    top: 0;
    right: 0;
  }

  .mcg-intro svg {
    width: 400px;
    height: 400px;
  }
}

/* fade image in after load */
.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

/**
 * Skip Link
 */

.mcg-skip-link {
    position: fixed;
    top: -6em;
    padding: calc(var(--spacing-unit) / 2);
}

.mcg-skip-link:focus {
    top: 0;
}

/**
 * Header
 */

.mcg-header {
  padding: calc(var(--spacing-unit) * 4);
  position: relative;
}

@media screen and (min-width: 36em) {
  .mcg-header {
    display: flex;
  }
}

.mcg-header a {
  text-decoration: none;
}

.mcg-header__title {
  color: var(--color-text);
}

/**
 * Main nav
 */

.mcg-main-nav {
  margin-left: auto;
  margin-top: var(--spacing-unit);
}

.mcg-main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mcg-main-nav ul li:not(:last-child) {
  margin-right: calc(var(--spacing-unit) * 2);
}

.mcg-main-nav a {
  padding-top: calc(var(--spacing-unit) * .25);
  padding-bottom: calc(var(--spacing-unit) * .25);
}

.mcg-main-nav ul li a[aria-current] {
  box-shadow: 0 .125em 0 0 var(--color-primary);
}

@media screen and (min-width: 36em) {
  .mcg-main-nav {
    margin-top: 0;
  }
}

/**
 * Footer
 */

.mcg-footer {
  color: var(--color-text-lighter);
  padding: calc(var(--spacing-unit) * 4);
}

.mcg-footer p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
}

@media screen and (min-width: 600px) {
  .mcg-footer {
    display: flex;
  }
  .mcg-footer p {
    font-size: 1rem;
  }
  .mcg-footer__copy {
    margin-left: auto;
  }
}

/**
 * Feed list
 */

.mcg-feed-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mcg-feed-list a {
  text-decoration: none;
  display: block;
  line-height: 1.3;
  font-weight: 500;
}

.mcg-feed-list time {
  color: var(--color-text-lighter);
  font-family: var(--font-mono);
  font-size: .875em;
  margin-left: auto;
}

.mcg-feed-list li {
  padding-top: calc(var(--spacing-unit) * 1.25);
  padding-bottom: calc(var(--spacing-unit) * 1.25);
  border-bottom: 1px solid var(--color-ruler);
}

@media screen and (min-width: 36em) {
  .mcg-feed-list li article {
    display: flex;
  }
}

/**
 * Post header
 */

.mcg-post-header h1 {
  margin-top: 0;
  margin-bottom: .25em;
  font-size: 1.75em;
  font-weight: 500;
  line-height: 1.1;
}

.mcg-post-header time {
  font-family: var(--font-mono);
  font-size: .825em;
  color: var(--color-text-lighter);
}


/**
 * Typeset for longform content
 */

.mcg-longform {
  margin-top: 3em;
}

.mcg-longform h2,
.mcg-longform h3,
.mcg-longform h4,
.mcg-longform h5,
.mcg-longform h6 {
  margin-top: 3em;
  font-weight: 700;
}

.mcg-longform ul, ol {
  padding-left: 1em;
}

.mcg-longform ul li strong {
  display: block;
  margin-top: calc(var(--spacing-unit) * 2);
  margin-bottom: var(--spacing-unit);
  line-height: 1.1;
}

.mcg-longform blockquote {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-left: 0;
  padding-left: calc(var(--spacing-unit) * 2);
  border-left: var(--color-ruler) calc(var(--spacing-unit) / 3) solid;
  color: var(--color-black-lighter);
  font-style: italic;
}

/**
 * Card
 */

.mcg-card {
  text-align: center;
}

.mcg-card__image {
  padding: 1em;
}

.mcg-card__title {
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 0;
}

.mcg-card__meta {
  color: var(--color-black-lighter);
  display: block;
  font-family: var(--font-mono);
  font-size: .825em;
  margin-top: .5em;
}

.mcg-footnotes {
  margin-top: calc(var(--spacing-unit) * 4);
  color: var(--color-black-lighter);
  font-style: italic;
  font-size: .75em;
  padding-top: var(--spacing-unit);
  border-top: 1px solid var(--color-black-lightest);
}

/**
 * Inline list
 */

.mcg-inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mcg-inline-list li {
  display: inline-block;
  margin-left: calc(var(--spacing-unit) / 4);
}

.mcg-theme-switcher {
  position: fixed;
  bottom: calc(var(--spacing-unit) * 4);
  right: calc(var(--spacing-unit) * 4);
  font-size: .825rem;
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  background: none;
  color: var(--color-background);
  background-color: var(--color-primary);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
}

@media screen and (min-width: 36em) {
  .mcg-theme-switcher {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.highlight-line:empty {
  margin-top: 1rem;
}

.mcg-caption {
  font-size: .825rem;
  margin-top: 1rem;
}

.mcg-avatar {
  width: calc(var(--spacing-unit) * 7);
  height: calc(var(--spacing-unit) * 7);
  margin-bottom: calc(var(--spacing-unit) * 3);
  position: relative;
}

.mcg-avatar__wrap {
  border-radius: 999rem;
  overflow: hidden;
  z-index: 0;
}

.mcg-avatar::after {
  z-index: -1;
  content: "";
  width: calc(var(--spacing-unit) * 7);
  height: calc(var(--spacing-unit) * 5);
  color: var(--color-blue-lighter);
  background-image: url('img/dot.svg');
  display: block;
  position: absolute;
  left: calc(var(--spacing-unit) * 3.5);
  top: calc(var(--spacing-unit) * 3);
}