<!-- OG cards -->
<meta property="og:title" content="{{ page.title }}" />
{% if page.teaser %}
    <meta property="og:description" content="{{ page.teaser }}" />
{% else %}
    <meta name="og:description" content="{{ site.description }}">
{% endif %}
<meta property="og:type" content="website" />
<meta property="og:url" content="levimcg.com{{ page.url }}" />
<meta property="og:image" content="{{ site.baseurl }}/img/headshot-2017-600x600.jpg" />

<!-- Twitter cards -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@levimcg">
<meta name="twitter:creator" content="@levimcg">
<meta name="twitter:title" content="{{ page.title }}">
{% if page.teaser %}
    <meta name="twitter:description" content="{{ page.teaser }}">
{% else %}
    <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
<meta name="twitter:image" content="{{ site.baseurl }}/img/headshot-2017-600x600.jpg">
