<footer class="mcg-wrapper mcg-site-footer" role="contentinfo">
    <p><em>@levimcg</em> on <a href="https://twitter.com/levimcg" rel="me">Twitter</a>, <a href="https://www.instagram.com/levimcg/" rel="me">Instagram</a>, <a href="https://github.com/levimcg" rel="me">Github</a>.</p>
    <p class="mcg-site-footer__copy">&copy; <span id="mcg-copy-year"></span> Levi McGranahan</p>
</footer>

{% if page.title == "Bookshelf" %}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="{{ site.baseurl }}/js/bookshelf.js"></script>
{% endif %}
{% if page.title == "Artwork" %}
<script src="{{ site.baseurl }}/js/libs/lazysizes.min.js" async=""></script>
{% endif %}
<script src="{{ site.baseurl }}/js/scripts.js"></script>
