<footer class="site-footer">
    <div class="container">
        <div class="unit whole">
            <div class="site-footer__nav">
                <a href="#"><span class="u-medium-up-inline">Back to</span> Top</a>
            </div>
            <p class="site-footer__copyright">&copy;2015 <a href="{{ site.baseurl }}/">Levi McGranahan</a></p>
        </div>
    </div>
</footer>

<!-- Load any scripts that you can here to help with load time -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
