<div class="wrapper">
    <footer class="site-footer">
        <p class="site-footer__copyright">&copy;<span id="js-copyright"></span> <a href="{{ site.baseurl }}/">Levi McGranahan</a></p>
        <div class="site-footer__nav">
            <a href="#"><span class="u-medium-up-inline">Back to</span> Top</a>
        </div>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>
{% include ga-code.html %}
