<header class="site-header">
    <div class="site-header__logo"><a href="{{ site.baseurl }}/">Levi McGranahan</a></div>
    <nav class="site-nav" role="navigation">
        <ul class="site-nav__list">
            {% for item in site.data.navigation %}

                {% capture notes_url %}{{ page.url | slice: 0, 7 }}{% endcapture %}

                {% if item.url == page.url %}
                    <li class="site-nav__item site-nav__item--{{ item.title | downcase }} is-current">
                        <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% elsif item.url == notes_url %}
                    <li class="site-nav__item site-nav__item--{{ item.title | downcase }} is-current">
                        <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% else %}
                    <li class="site-nav__item site-nav__item--{{ item.title | downcase }}">
                        <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="site-nav__item site-nav__item--shop">
                <a href="https://shop.levimcg.com">Shop</a>
            </li>
        </ul>
    </nav>
</header>
