<header class="mcg-site-header mcg-wrapper">
    <a class="mcg-site-header__title" href="{{ site.baseurl }}/">Levi McGranahan</a>
    <nav class="mcg-site-nav" role="navigation">
        <ul class="mcg-site-nav__list">
            {% for item in site.data.navigation %}
            <li class="{% if item.url == page.url %}is-current{% endif %}">
                <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
