<head>
    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta description="description" content="{{ site.description }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.is_post == true %}
        {% include cards.html %}
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
    <script>
        // Picture element HTML5 shiv
        document.createElement( "picture" );
    </script>
    <script src="{{ site.baseurl }}/js/libs/picturefill.min.js" async></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700|Source+Code+Pro" rel="stylesheet">
</head>
