<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="description" content="{{ site.description }}">
    {% if page.is_post == true %}
        {% include cards.html %}
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
    <script>
        // Picture element HTML5 shiv
        document.createElement( "picture" );
    </script>
    <script src="{{ site.baseurl }}/js/libs/picturefill.min.js" async></script>
    <!-- <script src="{{ site.baseurl }}/js/libs/picturefill.min.js"></script> -->
    <script src="https://use.typekit.net/iix5nff.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    {% include ga-code.html %}
</head>
