{% assign tagArray = "" | split: "|" %}

{% for post in site.categories.Book %}
    {% assign tagArray = tagArray | push: post.tags %}
{% endfor %}

{% assign tagArray = tagArray | join: " " %}
{% assign tagArray = tagArray | split: " " | uniq %}

<ul class="filter">
    <span class="filter__label">Filter: </span>
    <li class="filter__item js-filter-all is-active">All</li>
    {% for item in tagArray %}
        <li class="filter__item" data-filter-term="{{ item }}">{{ item | capitalize }}</li>
    {% endfor %}
</ul>
