<ul class="site-nav__list">
    <li class="site-nav__item site-nav__item--home">
        <a href="{{ site.baseurl }}/#work">Work</a>
    </li>
    <li class="site-nav__item site-nav__item--notes">
        <a href="{{ site.baseurl }}/notes">Notes</a>
    </li>
    <li class="site-nav__item site-nav__item--library">
        <a href="{{ site.baseurl }}/library">Library</a>
    </li>
    <li class="site-nav__item site-nav__item--about">
        <a href="{{ site.baseurl }}/about">About</a>
    </li>
</ul>
