<ul class="article-list">

        <li class="article-list__item">
            <article class="{% cycle 'billboard', 'billboard billboard--odd' %}">
                <figure class="billboard__cover">
                    <img src="{{ project.thumbnail }}--small.jpg" srcset="{{ project.thumbnail }}--large.jpg 1600w">
                </figure>
                <div class="billboard__info">
                    <h1 class="billboard__title"><a href="{{ project.url }}">{{ project.title }}</a></h1>
                    <p class="billboard__teaser">{{ project.description }}</p>
                    <a href="{{ project.url }}" class="billboard__cta{% if project.custom_button %} billboard__cta--{{ project.custom_button }} {% endif %}">View project</a>
                </div>
            </article>
        </li>
    {% endfor %}
</ul>
