<ul class="project-grid">
    {% for project in site.projects reversed %}
        <li class="project-grid__item">
            {% if project.external_link %}
                <a href="{{ project.external_link }}" target="_blank">
            {% else %}
                <a href="{{ project.url }}">
            {% endif %}
                <article class="tile">
                    <div class="tile__info">
                        <div class="tile__info-inner">
                            <h1 class="tile__title">{{ project.title }}</h1>
                            <ul class="tile__meta">
                                {% for tag in project.tags %}
                                    <li class="tile__meta-item">{{ tag }}{% unless forloop.last %}, {% endunless %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <figure class="tile__thumbnail">
                        <img src="{{ project.thumbnail }}" alt="">
                    </figure>
                </article>
            </a>
        </li>
    {% endfor %}
</ul>
