<div class="mcg-card">
  <img class="lazyload mcg-card__image" data-src="{{ post.data.thumbnail }}" alt="">
  <h2 class="mcg-card__title">{{ post.data.title }}</h2>
  <span class="mcg-card__meta">{{ post.data.author }}</span>
</div>