<footer class="mcg-footer" role="contentinfo">
  <ul class="mcg-inline-list">
    {%- for link in site.links -%}
      <li class="mcg-inline-list__item">
        <a class="mcg-footer__link" href="{{ link.url }}"{%- if link.me -%} rel="me"{%- endif -%}>{{ link.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
  <p class="mcg-footer__copy">
    <copryright-element>&copy; 2019</copyright-element> Levi McGranahan
  </p>
  {% include "components/theme-switcher.njk" %}
</footer>
{% include "misc/scripts.njk" %}