<footer class="mcg-footer" role="contentinfo">
  <p><em>@levimcg</em></p>
  <ul class="mcg-inline-list">
    {%- for link in site.links -%}
      <li>
        <a href="{{ link.url }}"{%- if link.me -%} rel="me"{%- endif -%}>{{ link.title }}</a>{%- if not loop.last -%}, {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
  <p class="mcg-footer__copy">&copy; <span id="mcg-copy-year"></span> Levi McGranahan</p>
  {% include "components/theme-switcher.njk" %}
</footer>
{% include "misc/scripts.njk" %}