<header class="mcg-header">
  <a class="mcg-header__title" href="/">{{ site.title }}</a>
  <nav class="mcg-main-nav" role="navigation" aria-label="Global site navigation">
    <ul>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/bookshelf">Bookshelf</a></li>
      <li><a href="/artwork">Artwork</a></li>
    </ul>
  </nav>
</header>