<header class="mcg-header">
  <a class="mcg-skip-link" href="#main-content">Skip to content</a>
  <a class="mcg-header__title" href="/">{{ site.title }}</a>
  <nav class="mcg-main-nav" role="navigation" aria-label="Global site navigation">
    <ul>
      {%- for item in site.navigation -%}
        <li>
          <a href="{{ item.url }}"{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</header>