{% macro postTeaser(params) %}
<article class="h-entry mcg-post-teaser{% if params.layout %} mcg-media-object{% endif %}">
  {% if params.date %}
  <time class="dt-published mcg-post-teaser__date" datetime="{{ params.date }}">{{ params.date | dateFormatted }}</time>
  {% endif %}
  {%- if params.external_link -%}
  <div class="mcg-post-teaser__body">
    <a class="p-name mcg-post-teaser__title" href="{{ params.external_link }}" target="_blank" rel="noopener">
      {{ params.title }}
    </a>
    {% if params.description %}
    <p class="mcg-post-teaser__description">{{ params.description }}</p>
    {% endif %}
  </div>
  {%- else -%}
  <div class="mcg-post-teaser__body">
    <a class="p-name mcg-post-teaser__title" href="{{ params.url }}">
      {{ params.title }}
    </a>
    {% if params.description %}
    <p class="mcg-post-teaser__description">{{ params.description }}</p>
    {% endif %}
  </div>
  {%- endif -%}
</article>
{% endmacro %}