 <header class="mcg-post-header">
  <h1 class="mcg-post-header__title p-name">{{ title }}</h1>
  {% if description %}
  <p class="mcg-post-header__description">{{ description | safe }}</p>
  {% endif %}
  {% if date %}
  <time class="mcg-post-header__date dt-published" datetime="{{ date }}">{{ date | dateFormatted }}</time>
  {% endif %}
</header>