<ol class="mcg-feed-list">
  {% for post in collections.latestPosts %}
    {# This is a hacky workaround for "draft" functionality #}
    {% if post.data.draft !== true %}
    <li>
      <article class="h-entry">
        {%- if post.data.external_link -%}
          <a class="p-name" href="{{ post.data.external_link }}" target="_blank" rel="noopener">
            {{ post.data.title }}
          </a>
        {%- else -%}
        <a class="p-name" href="{{ post.url }}">
          {{ post.data.title }}
        </a>
        {%- endif -%}
        <time class="dt-published" datetime="{{ post.date }}">{{ post.date | dateFormatted }}</time>
      </article>
    </li>
    {% endif %}
  {% endfor %}
</ol>