{% from 'components/post-teaser.njk' import postTeaser %}

<h2 class="mcg-sub-heading mcg-mt-md">Latest</h2>
<ol class="mcg-feed-list">
  {% for post in collections.latestPosts %}
    {# This is a hacky workaround for "draft" functionality #}
    {% if post.data.draft !== true %}
    <li>
      {{-
        postTeaser({
          layout: true,
          title: post.data.title,
          description: post.data.description,
          date: post.date,
          url: post.url
        })
      -}}
    </li>
    {% endif %}
  {% endfor %}
</ol>