---
layout: default
title: Home
body: home
---
<section class="intro">
    <div class="container">
        <div class="unit two-thirds">
            <h1 class="intro__text">Hi, I’m Levi. I specialize in helping to communicate complex ideas more simply. I try to generalize in everything else.</h1>    
        </div>
    </div>
</section>
<section class="projects" id="projects">
    <div class="container">
        <div class="unit whole">
            <ul class="list-grid-half">
                {% for project in site.projects %}
                <li class="projects__item">
                    <a href="{{ site.baseurl }}{{ project.url }}" class="project">
                        <img src="{{ project.thumbnail }}--small.{% if project.png %}png{% else %}jpg{% endif %}" srcset="{{ project.thumbnail }}--medium.{% if project.png %}png{% else %}jpg{% endif %} 800w, {{ project.thumbnail }}--large.{% if project.png %}png{% else %}jpg{% endif %} 1200w">
                        <div class="project__info">
                            <h2 class="project__title" {% if project.reverse %}style="color: #2c2f35;"{% endif %}>{{ project.title }}</h2>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>    
        </div>
    </div>   
</section>
<section class="mini-bio l-slice">
    <div class="container">
            <div class="unit half push">
                <div class="info">
                    <h3 class="sub-head">Oh, hi</h3>
                    <p>If you have an idea and are interested in working together please, take a look at my work and <a href="mailto:levimcg@gmail.com">say hello</a>.</p> 
                </div>
                <div class="info">
                    <h3 class="sub-head">Elsewhere</h3>
                    <ul class="info__list">
                        <li class="info__item"><a href="https://twitter.com/{{ site.user }}" target="_blank">Twitter</a></li>
                        <li class="info__item"><a href="https://instagram.com/{{ site.user }}" target="_blank">Instagram</a></li>
                        <li class="info__item"><a href="https://github.com/{{ site.user }}" target="_blank">Github</a></li>
                        <li class="info__item"><a href="https://dribbble.com/{{ site.user }}" target="_blank">Dribbble</a></li>
                    </ul>
                </div>
            </div>
        </div>    
</section>
