.article-header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-500);

  &__body {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 40%;
    max-width: var(--body-ideal-width, 780px);
  }

  &__hero {
    flex-basis: 32rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 800px;
  }

  &__back-link {
    text-decoration: none;
    font-size: var(--font-size-000);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: .0125rem;
    display: inline-block;
    color: var(--color-interactive);
  }

  &__back-link:hover {
    text-decoration: underline;
  }

  &__title {
    font-size: var(--font-size-700);
    font-weight: var(--font-weight-black);
    line-height: 1;
    letter-spacing: -.1rem;

    span:not([class]) {
      color: var(--color-text-muted);
      font-weight: var(--font-weight-regular);
    }
  }

  &__description {
    font-size: var(--font-size-200);
    color: var(--color-text-muted);
    margin-top: var(--space-400);
  }
}

@media (min-width: 45rem) {
  p.article-header__title {
    font-size: var(--font-size-800)
  }
}

.blog .article-header__back-link {
  color: var(--color-accent-primary);
}

.projects .article-header__back-link {
  color: var(--color-accent-secondary);
}

.about .article-header__back-link {
  color: var(--color-accent-tertiary);
}