.mcg-avatar {
  width: 100%;
  max-width: 6rem;
  height: auto;
  position: relative;
  margin-bottom: calc(var(--spacing-unit) * 4);
  margin-right: auto;
  margin-left: auto;
}

.mcg-avatar__wrap {
  border-radius: 999rem;
  overflow: hidden;
  z-index: 0;
}

@media screen and (min-width: 640px) {
  .mcg-avatar {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
  }
}