/**
 * Header
 */

.mcg-header {
  padding: calc(var(--spacing-unit) * 3);
  position: relative;
}

.mcg-header a {
  text-decoration: none;
}

.mcg-header__title {
  color: var(--color-text);
  display: block;
}
@media screen and (min-width: 36em) {
  .mcg-header {
    display: flex;
    padding: calc(var(--spacing-unit) * 6) calc(var(--spacing-unit) * 8);
  }
}
