/*-----------------------------------------------
    Info module

    Used for callout info sections

    _info-module.scss
-----------------------------------------------*/

.info {
    margin-bottom: 3.5em;

    p a {
        color: $color-primary;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
            color: rgba($color-primary, .5);
        }    
    }
}

.info__title {
    color: $color-text-quiet;
    font-family: $font-family-alternate;
    font-size: $font-size-6;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.info__list {
    list-style: none;
    padding: 0;
}

.info__item a {
    color: $color-text;

    &:hover {
        color: $color-primary;
    }
}