/*-----------------------------------------------
    Intro

    Intro section for the home page

    _intro.scss
-----------------------------------------------*/

.intro {
    padding: 4em 0 10em 0;
    padding: 5vh 0 10vh 0;
}

.intro--short {
    padding: 4em 0 4em 0;
    padding: 5vh 0 5vh 0;
}

.intro__heading {
    margin-top: 0;
}

.intro__text {
    margin: 0;
    font-size: $font-size-2;
    line-height: 1.2;

    a {
        border-bottom: 2px solid $color-text;
        display: inline-block;
        color: $color-text;

        &:hover {
            color: $color-primary;
            border-bottom-color: $color-primary;
        }
    }
}

/*  While the TypeKit fonts are loading, don't show the intro
**  text in the hero area.
*/
.wf-loading .intro__heading,
.wf-loading .intro__text {
    opacity: 0;
}

@include responsive($bp-medium) {

    .intro {
        padding: 4em 0 9em 0;
        padding: 12vh 0 20vh 0;
    }

    .intro--short {
        padding: 4em 0 2em 0;
        padding: 12vh 0 4vh 0;
    }

    .intro__text {
        font-size: $font-size-1;
    }
}
