/*-----------------------------------------------
    Library Entry
    _library-entry.scss

    Style for entries on the library page
-----------------------------------------------*/

.library {
    padding: 2em 0;
    padding: 12vh 0 8vh 0;
}

.library-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    @include clear-fix;

    li {
        float: left;
        margin-bottom: 4em;
        padding: 0 1em;
        width: 100%;
    }
}

/*
 * FIXME: Switch this over the the Burbon media query mixin.
 */
@include responsive($bp-small) {
    .library-list li {
        margin-bottom: 2em;
        width: 50%;
        min-height: 460px;
    }
}

@include responsive($bp-medium) {
    .library-list li {
        width: 33.3333%;
    }
}

@include responsive($bp-xlarge) {
    .library-list li {
        width: 25%;
    }
}

.library-entry {
    text-align: center;
}

.library-entry__thumbnail {
    max-width: 180px;
    margin: 0 auto;
    position: relative;

    img {
        width: 100%;
    }
}

.library-entry__title {
    font-size: $font-size-6;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 1em;
    margin-bottom: .15em;
}

.library-entry__author,
.library-entry__link {
    font-size: .875em;
}

.library-entry__author {
    color: $color-text-quiet;
    margin-top: 0;
    margin-bottom: 1em;
}

.library-entry__link {
    background-color: $color-book;
    color: $color-background;
    display: inline-block;
    padding: .15em 1.25em;
    border-radius: 3px;

    &:hover {
        color: $color-background;
        background-color: mix($color-book, white, 80%);
    }
}

/*
 *  Now Reading flag
*/

.libarary-entry__flag {
    position: absolute;
    top: 20px;
    left: 0;
    display: inline-block;
    background-color: rgba($color-secondary, .8);
    padding: .25em;
    font-size: .8125em;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.libarary-entry__flag--bottom {
    top: 210px;
}
