.mcg-project-list {
  list-style: none;
  padding: 0;
}

.mcg-post-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
