.mcg-typeset {
    line-height: 1.8;

    h1, h2, h3, h4, h5, h6 {
        color: $color-black;
        line-height: 1.2;
    }

    h2, h3, h4, h5, h6 {
        font-family: $font-family-sans;
        font-size: $ts-20;
        margin-top: 4rem;
    }

    p {

    }

    p code,
    ul li code,
    ol li code {
        color: $color-red;
        background-color: mix($color-black, $color-background, 5%);
    }
}
