.mcg-typeset {
    font-family: $font-family-body;
    line-height: 1.7;

    h1, h2, h3, h4, h5, h6 {
        color: $color-black;
        line-height: 1.1;
        font-family: $base-font-family;
    }

    h1 {
        font-size: $ts-36;
        font-family: $base-font-family;

    }

    h2, h3, h4, h5, h6 {
        margin-top: 4rem;
    }

    h2 {
        font-size: $ts-26;
    }

    h3 {
        font-size: $ts-20;
    }

    h4 {
        font-size: $ts-20;
    }

    p {

    }

    p code,
    ul li code,
    ol li code {
        color: $color-red;
        background-color: mix($color-black, $color-background, 5%);
    }
}
