.mcg-post-teaser {
    border-bottom: 1px solid #eee;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__date {
        font-size: $ts-14;
        font-family: $font-family-sans;
        color: mix($color-text, $color-background, 70%);
        margin-left: auto;
    }

    &__title {
        font-size: $ts-16;
        font-weight: 400;
    }
}

@include mq(720px) {
    .mcg-post-teaser {
        display: flex;
        align-items: center;

        &__date {
            padding-left: 2rem;
        }
    }
}
