.mcg-site-footer {
  font-family: $font-family-sans;
  color: $color-text-quiet;

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: $ts-14;
  }
}

@media screen and (min-width: 600px) {
  .mcg-site-footer {
    display: flex;

    p {
      font-size: $ts-16;
    }

    &__copy {
      margin-left: auto;
    }
  }
}