.mcg-site-header {
    font-family: $font-family-sans;
    display: flex;

    &__title {
        text-decoration: none;
        color: $color-text;
    }
}

.mcg-site-nav {
    margin-top: 0;
    margin-left: auto;
}

.mcg-site-nav__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        margin-right: .5rem;
        font-size: $ts-14;

        &:last-child {
            margin-right: 0;
        }
    }

    li a {
        text-decoration: none;
    }

    li.is-current a {
        box-shadow: 0 2px 0 $color-blue;
    }
}

@include mq(bp(md)) {
    .mcg-site-nav__list li {
        font-size: $ts-16;
        margin-right: 2rem;
    }
}
