/*-----------------------------------------------
    Pagination
    _pagination.scss
    
    Pagination for posts in the "Notes"
    section
-----------------------------------------------*/

.pagination {
    @include clear-fix;
}

.pagination__link {
    color: $color-text;
    display: block;
    width: 50%;
    padding: 1em;
    transition: background-color .3s ease;

    &:hover {
        background-color: mix($color-background, black, 80%);
    }
}

.pagination__link--prev {
    float: right;
    text-align: right;
}

.pagination__link--next {
    float: left;
}