.pagination {
  display: inline-flex;
  gap: var(--space-200);
  margin-block-start: var(--space-600);

  > a {
    display: flex;
    align-items: center;
    color: var(--color-text-medium);
    font-family: var(--font-sans);
    text-decoration: none;
    gap: var(--space-000);

    &:hover {
      text-decoration: underline;
    }
  }
}