
.post-teaser {
  &__title {
    text-decoration: none;
    font-size: var(--fs-300);
    font-weight: var(--font-bold);
    color: var(--color-text);

    &:hover {
      color: var(--color-text);
      text-decoration: underline;
    }
  }

  &__description {
    color: var(--color-text-medium);
    font-family: var(--font-sans);
  }

  &__metadata {
    margin-block-start: var(--space-100);
    display: flex;
    align-items: center;
    gap: var(--space-100);

    [aria-hidden] {
      color: var(--color-ruler);
    }
  }
}