.post-teaser {
  &__title {
    font-size: var(--font-size-400);
    line-height: 1.1;
    font-weight: var(--font-weight-black);
    letter-spacing: -.05;
  }

  &__description {
    --flow-space: var(--space-100);
    color: var(--color-text-muted);
  }

  time {
    color: var(--color-text-muted);
    font-size: var(--font-size-000);
  }

  a {
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }
}