.post-aside {
    float: left;
    max-width: 200px;
    margin-right: 1.5em;
    margin-bottom: .5em;
}

.post-aside__caption {
    color: $color-text-quiet;
    font-size: .65em;
    font-style: italic;
    margin-top: .5em;
}
