.post-header {
  max-width: 85ch;

  + * {
    --flow-space: var(--space-600);
  }

  &__back-link {
    font-family: var(--font-sans);
    font-size: var(--fs-000);
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: -.25rem;
      width: calc(100% + .5rem);
      height: 1rem;
      background-color: var(--color-accent);
      z-index: -1;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__metadata {
    margin-top: var(--space-500);
    border-top: 1px solid var(--color-ruler);
    padding-top: var(--space-200);
    display: flex;
    align-items: center;
    gap: var(--space-200);

    [aria-hidden] {
      color: var(--color-ruler);
    }
  }

  &__metadata-item {
    font-family: var(--font-sans);
    font-size: var(--fs-000);
    color: var(--color-text-medium);

    strong {
      color: var(--color-text);
    }
  }

  &__title {
    font-size: var(--fs-800);
    line-height: 1;
    margin-block-start: var(--space-000);
  }

  &__description {
    margin-top: var(--space-300);
    font-size: var(--fs-300);
    font-family: var(--font-sans);
    line-height: 1.3;
    color: var(--color-text-medium);
  }
}