.post {

}

.post-list {
    list-style: none;
    padding: 0;
    margin: 0;

    /*
     * Grid stuff
     */
    @include media($bp-medium) {
        @include span-columns(8);
        @include shift(2);
    }

    @include media($bp-large) {
        @include span-columns(10);
        @include shift(1);
    }
}

.post-list__item {
    padding-top: 2.8em;
    padding-bottom: 3em;
    border-bottom: 1px solid mix($color-text, white, 10%);

    &:first-child {
        padding-top: 0;
    }
}

.post__header {
    display: flex;
    flex-direction: column;
}

.post__title {
    font-size: 3em;
    margin-top: .25em;
    margin-bottom: .25em;
    line-height: 1;
    order: 2;
}

.post__date {
    order: 3;
    color: mix($color-text, white, 50%);
    font-family: $font-family-alternate;
}

.post__content {
    margin: 2em 0;
    line-height: 1.55;

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 3rem;
    }

    img {
        width: 100%;
    }

    @include media($bp-medium) {
        @include span-columns(9);
        @include shift(1.5);
    }
}

/*
 * Jumbo images
 *
 * Styling for making images break out of the main content
 * column on blog posts. You can accomplish this by adding
 * the alt tag "jumbo" to an image in the Markdown
*/


/*
 * FIXME: Switch this over the the Burbon media query mixin.
 */
@include responsive($bp-medium) {
    .post__content p img[alt="jumbo"],
    .post__content p img[alt="jumbo"] + em {
        display: block;
        width: 134%;
        margin-left: -17%;
    }
}

.post__content p img[alt="jumbo"] + em,
.post__content p img em {
    font-size: .8125em;
    color: $color-text-quiet;
}
