.post {
    display: block;
}

.post--single {
    margin-bottom: 4em;
    @include media($bp-medium) {
        @include span-columns(7);
        @include shift(2.5);
    }
}

.post__content {

    p {
        color: mix($color-text, white, 80%);
    }

}

.post-list {
    list-style: none;
    padding: 0;
    margin: 0;

    /*
     * Grid stuff
     */
    @include media($bp-medium) {
        @include span-columns(8);
        @include shift(2);
    }
}

.post-list__item {
    padding: 2em 0;

    &:first-child {
        padding-top: 0;
    }
}

.post__title {
    margin: 0;
    font-weight: 700;
    line-height: 1;

    a {
        transition: all .2s ease;
        color: $color-text;
    }
}

.post__date {
    font-size: .9em;
    font-family: $font-family-alternate;
    color: $color-text-quiet;
}

.post__title--note a:hover {
    color: $color-note;
}

.post__title--link a:hover {
    color: $color-green;
}

.post__title--life a:hover {
    color: $color-life;
}

.post__teaser {
    color: $color-text-quiet;
    margin: $shim*.75 0;
}

.post__meta {
    margin-bottom: $shim;
}

.post__date {
    margin-right: $shim;
}

.post__category {
    background-color: $color-text;
    color: $color-white;
    font-size: .8em;
    font-family: $font-family-alternate;
    padding: $shim*.25 $shim*.5;
    border-radius: 3px;
    transition: all .2s ease;
    text-transform: uppercase;

    &:hover {
        color: $color-white;
        background-color: mix($color-text, white, 80%);
    }
}

.post__category--note {
    background-color: $color-note;

    &:hover {
        color: $color-white;
        background-color: mix($color-note, white, 80%);
    }
}

.post__category--link {
    background-color: $color-green;

    &:hover {
        color: $color-white;
        background-color: mix($color-green, white, 80%);
    }
}

.post__category--life {
    background-color: $color-life;

    &:hover {
        color: $color-white;
        background-color: mix($color-life, white, 80%);
    }
}
