/**
 * Post header
 */

.mcg-post-header {
  margin-top: calc(var(--spacing-unit) * 4);
  
  &__title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -.03rem;
  }
  
  &__description {
    color: var(--color-black-lighter);
    font-size: 1.25rem;
    line-height: 1.3;
    margin-top: calc(var(--spacing-unit) * 2);
    margin-bottom: 0;
  }
  
  &__date {
    color: var(--color-black-lighter);
    display: inline-block;
    font-size: .825rem;
    margin-top: calc(var(--spacing-unit) * 2);
  }
}

@media screen and (min-width: 36rem) {
  .mcg-post-header {
    margin-top: 0;
  }
}