.project-teaser {
  position: relative;

  &__body {
    padding: var(--space-400);
    background-color: var(--color-background);
  }

  &__title {
    font-size: var(--fs-300);
    font-weight: var(--font-regular);
    line-height: 1.2;
  }

  &__description {
    margin-top: var(--space-100);
    font-family: var(--font-sans);
    color: var(--color-text-medium);
  }

  .button {
    margin-top: var(--space-300);
    font-size: var(--fs-000);
    width: 100%;
    justify-content: center;
  }

  &--new::before {
    content: "NEW!";
    position: absolute;
    font-family: var(--font-sans);
    background-color: var(--color-primary);
    color: var(--color-background);
    left: 0;
    top: var(--space-500);
    padding: var(--space-000) var(--space-100);
  }
}

@media (min-width: 45rem) {
  .project-teaser {
    position: relative;

    &__body {
      position: absolute;
      bottom: var(--space-400);
      left: var(--space-400);
      width: 50%;
    }

    .button {
      transition: all .2s ease;
      margin-block-start: var(--space-400);
      width: auto;
    }

    .button:hover {
      background-color: transparent;
      color: var(--color-primary);
      transform: scale(1.1);
    }
  }
}