.project-teaser {
  position: relative;
  background-color: var(--color-background-light);
  z-index: 1;

  &__image {
    aspect-ratio: 1 / 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    padding: var(--space-400);
  }

  &__title {
    font-size: var(--fs-400);
    font-weight: var(--font-regular);
    line-height: 1.2;
  }

  &__title a {
    text-decoration: none;
    color: var(--color-text);

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 999;
    }
  }

  &__description {
    margin-top: var(--space-100);
    line-height: 1.5;
    color: var(--color-text-medium);
    font-family: var(--font-sans);
  }

  &__cta {
    --flow-space: var(--space-300);
    display: inline-flex;
    align-items: center;
    gap: var(--space-000);
    position: relative;
    font-family: var(--font-sans);

    &::after {
      content: "";
      display: block;
      background-color: var(--color-primary-light);
      width: 100%;
      height: 3px;
      position: absolute;
      bottom: calc(var(--space-000) * -1);
      left: 0;
      transition: all .3s ease;
    }
  }

  &:hover &__cta {
    color: var(--color-primary);
  }

  &:hover &__cta::after {
    background-color: var(--color-primary);
  }

  &:hover &__cta svg {
    transition: all .3s ease;
  }

  &:hover &__cta > svg {
    transform: translateX(8px)
  }

  &:hover &__cta::after {
    width: calc(100% + 8px);
  }
}

@media (min-width: 50rem) {
  .project-list li:nth-child(even) > .project-teaser {
    flex-direction: row-reverse;
  }

  .project-teaser {
    display: flex;
    align-items: center;

    &__body {
      padding: var(--space-600);
      background-color: transparent;
    }

    &__body,
    &__image {
      width: 50%;
    }

    &__title {
      margin-top: 0;
    }

    &__image {
      background-color: var(--color-text);

      img {
        transition: all .3s ease;
      }
    }

    &:hover &__image img {
      opacity: .2;
    }
  }
}