
.project-info {
    @include media($bp-medium) {
        @include row(100%);
        margin-top: 2em;
        margin-bottom: 4em;
    }
}

.project-header {
    @include media($bp-medium) {
        @include span-columns(8);
        padding-right: 2em;
    }
}

.project-meta {
    @include media($bp-medium) {
        @include span-columns(4);
    }

    a {
        color: $color-text;

        &:hover {
            color: $color-work;
            text-decoration: underline;
        }
    }
}

.project-header__title {
    margin-top: 0;
    line-height: 1;
}

.project-meta {
    margin-bottom: 2em;
}

.project-meta__subhead {
    margin-top: 0;
    font-size: .9em;
    font-weight: 400;
    font-family: $font-family-alternate;
    text-transform: uppercase;
    color: $color-text-quiet;
    letter-spacing: .07em;
    margin-bottom: .5em;
}

.project-meta__tags {
    list-style: none;
    margin-top: 0;
    padding: 0;
}

.project-content {
    figure {
        margin-bottom: 1em;
    }

    figcaption {
        font-size: .8125em;
        color: $color-text-quiet;
    }

    aside {
        h2 {
            font-size: 1.25em;

        }
    }

    ul li figure {
        margin-bottom: 0;
    }
}
