.tag-list {
  ul {
    display: flex;
    gap: var(--space-100);
    margin: 0;
    padding-left: 0;
    align-items: center;
  }

  ul li {
    display: flex;
  }

  ul li a {
    font-size: var(--fs-000);
    text-decoration: none;
    font-family: var(--font-sans);
  }
}