/*-----------------------------------------------
    Notes
    _notes.scss

    Styles for different article styles in the
    Blog/notes section of the site
-----------------------------------------------*/

.notes {
    padding: 2em 0;
    padding: 6vh 0 3vh 0;
}

@include responsive($bp-medium) {
    .notes {
        padding: 2em 0;
        padding: 12vh 0 8vh 0;
    }
}

.notes-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.notes-list__item {
    padding: 2em 0;

    &:first-child {
        padding-top: 0;
    }
}

@include responsive($bp-medium) {
    .notes-list__item {
        padding: 3em 0;
    }
}

.wf-loading .note {
    display: none;
}

.note {

    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

.note-content {
    padding-bottom: 1em;
}

.note-content--text {
    padding-bottom: 0;
}

.note-content__title {
    margin-top: 0;
    margin-bottom: .25em;
    line-height: 1;

    a {
        color: $color-text;

        &:hover {
            color: $color-primary;
        }
    }
}

.note-content__caption p {
    color: $color-text-quiet;
}

.note-content__caption a {
    color: $color-primary;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
        color: rgba($color-primary, .5);
    }
}

.note-content__date {
    display: block;
    color: $color-quiet;
    text-transform: uppercase;
    font-family: $font-family-alternate;
}

.note__figure {
    margin-bottom: 1.5em;
}

.note-single {
    padding: 2em 0 6em;

    &:after {
        content: "";
        clear: both;
        display: block;
    }

    a {
        color: $color-primary;
    }
}

@include responsive($bp-medium) {
    padding: 4em 0;
}

.note-single__title {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.note-single__date {
    color: $color-quiet;
}

.note-single__teaser {
    font-size: $font-size-5;
}
