/*-----------------------------------------------

    Footer

-----------------------------------------------*/
.site-footer {
    padding: 1em 0;
}

.site-footer__copyright {
    color: rgba($color-text, .5);
    float: left;
    margin: 0;
    width: 25%;

    a {
        color: rgba($color-text, .5);

        &:hover {
            color: $color-primary;
        }
    }
}