/*-----------------------------------------------
    Navigation

    Global navigation, modual so it can be used
    outside of the header if needed.

    _navigation.scss
-----------------------------------------------*/

@include responsive($bp-medium) {
    .site-nav {
        float: right;
        text-align: right;
        width: 75%;
    }
}

.site-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav__item {
    display: inline-block;
    margin-right: 1em;

    &:last-child {
        margin-right: 0;
    }

    a {
        color: $color-text;
        text-decoration: none;
        transition: color .3s ease;
        padding-bottom: .25em;

        &:hover {
            color: $color-primary;
        }
    }
}

.home .site-header .site-nav__item--home a,
.projects .site-header .site-nav__item--home a {
    border-bottom: 2px solid $color-primary;
}

.notes-home .site-header .site-nav__item--notes a {
    border-bottom: 2px solid $color-alternate;
}

.about .site-header .site-nav__item--about a {
    border-bottom: 2px solid $color-secondary;
}

// Temproary modifier for link to source files
.site-nav__item--source a {
    color: #fff;
    background-color: $color-primary;
    display: inline-block;
    padding: .25em .5em;
    @include border-radius(3px);

    &:hover {
        background-color: mix($color-primary, black, 90%);
        color: #fff;
        box-shadow: 0 3px 0 mix($color-primary, black, 70%);
    }
}

