/*-----------------------------------------------
    Navigation

    Global navigation, modual so it can be used
    outside of the header if needed.

    _navigation.scss
-----------------------------------------------*/

.site-nav {
    margin-top: 2em;
}

@include responsive($bp-medium) {
    .site-nav {
        float: right;
        margin-top: 0;
        text-align: right;
        width: 75%;
    }
}

.site-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav__item {
    display: inline-block;
    margin-right: 1em;

    &:last-child {
        margin-right: 0;
    }

    a {
        color: $color-text;
        text-decoration: none;
        transition: color .3s ease;
        padding-bottom: .25em;

        &:hover {
            color: $color-primary;
        }
    }
}

.home .site-header .site-nav__item--home a,
.projects .site-header .site-nav__item--home a {
    border-bottom: 2px solid $color-primary;
}

.notes-home .site-header .site-nav__item--notes a,
.reverse-theme .site-header .site-nav__item--notes a {
    border-bottom: 2px solid $color-alternate;
}

.about .site-header .site-nav__item--about a {
    border-bottom: 2px solid $color-secondary;
}

