/*-----------------------------------------------
    Shamefile

    shameful stuff that has no home

    _shamefile.scss
-----------------------------------------------*/

.related {
    background-color: mix($color-background, black, 80%);
}

.related__heading {
    color: $color-text-quiet;
    font-size: $font-size-4;
    margin-top: 0;
}