// Typography defaults
$base-font-size: 100%;
$base-font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
$heading-font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;

// Colors
$color-link: #2b48ff;
$color-text: #304650;
$color-quiet: #bbb;

// Breakpoints
$bp-small: 500px;
$bp-medium: 800px;
$bp-large: 1080px;