// Typography defaults
$base-font-size: 110%;
$base-font-family: 'freight-text-pro', serif;
$base-font-weight: 400;
$font-family-alternate: "freight-sans-pro", "Helvetica Neue", "Helvetica", Arial, sans-serif;

// Colors
$color-primary: #00a887;
$color-secondary: #0081c9;
$color-alternate: #ff4237;


$color-background: #2c2f35;
$color-ruler: mix($color-background, white, 85%);
$color-link: $color-primary;
$color-text: #ffffff;
$color-text-quiet: mix($color-background, white, 20%);
$color-quiet: mix($color-background, white, 40%);

// Breakpoints
$bp-small: 500px;
$bp-medium: 768px;
$bp-large: 1080px;

// Font sizes
// $font-size-1: 3em;
// $font-size-2: 2.5em;
// $font-size-3: 2em;
// $font-size-4: 1.85em;
// $font-size-5: 1.25em;
// $font-size-6: 1em;

$font-size-1: 2em;
$font-size-2: 1.8em;
$font-size-3: 1.5em;
$font-size-4: 1.35em;
$font-size-5: 1.15em;
$font-size-6: 1em;