.container {
  --container-max-width: 1240px;
  --container-padding-block-start: var(--space-200);
  --container-padding-block-end: var(--space-200);

  max-width: min(100% - var(--space-600), var(--container-max-width));
  margin-inline: auto;
  padding-block-start: var(--container-padding-block-start);
  padding-block-end: var(--container-padding-block-end);
}