.content-container {
  max-width: min(100% - var(--space-400), var(--container-max-width, 1180px));
}

.layout-container {
  padding-left: var(--space-600);

  &__inner {
    border-left: 1px solid var(--color-accent-secondary);
    padding-left: var(--space-400);
  }
}

.layout-container + .layout-container {
  border-top: 1px solid var(--color-ruler);
}