.container {
  --container-max-width: 80rem;
  --container-padding-block-start: var(--space-300);
  --container-padding-block-end: var(--space-300);

  max-width: min(var(--container-max-width), calc(100% - var(--space-600)));
  margin-inline: auto;
  padding-block-start: var(--container-padding-block-start);
  padding-block-end: var(--container-padding-block-end);
}