@use "./container";
@use "./flow";
@use "./font-size";
@use "./lists";
@use "./marker";
@use "./post";
@use "./space";
@use "./visibility";

.block {
  display: block;
}

.show-on-large {
  display: none;
}

@media (min-width: 45rem) {
  .show-on-large {
    display: flex;
  }
}

.color-accent {
  &-primary {
    color: var(--color-accent-primary);
  }

  &-secondary {
    color: var(--color-accent-secondary);
  }

  &-tertiary {
    color: var(--color-accent-tertiary);
  }
}
