.marker-primary,
.marker-secondary,
.marker-tertiary  {
  position: relative;
  display: inline-block;

  &::after {
    position: absolute;
    top: var(--marker-position-top, 0);
    left: var(--marker-position-left, 0);
    z-index: -1;
    content: "";
    display: flex;
    width: 110%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: var(--marker-bg-size, contain);
  }
}

.marker-primary::after {
  background-image: url("/img/mark-1.png");
}

.marker-secondary::after {
  background-image: url("/img/mark-2.png");
}

.marker-tertiary::after {
  background-image: url("/img/mark-3.png");
}