.post {
  --post-max-width: 72ch;

  position: relative;
  line-height: 1.6;
  max-width: min(var(--post-max-width), 100% - var(--space-600));
  margin-inline: auto;

  :is(h1, h2, h3, h4, h5, h6) {
    --flow-space: var(--space-600);
    scroll-margin-block-start: var(--space-100);
  }

  h2 {
    font-size: var(--fs-300);
  }

  h3 {
    font-size: var(--fs-200);
  }

  h4 {
    font-size: var(--fs-200);
  }

  :where(p, li, dd, dt, figcaption, time) {
    color: var(--color-text-medium);
  }

  h1 + time {
    --flow-space: var(--space-500);
    display: inline-block;
  }

  > p, > li {

    a {
      position: relative;
    }

    a::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: -.25rem;
      width: calc(100% + .5rem);
      height: var(--space-300);
      background-color: var(--color-accent);
      z-index: -1;
    }
  }

  .breakout {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    aspect-ratio: 16/9;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    figcaption {
      margin-left: var(--size-300);
    }
  }

  * + .breakout {
    --flow-space: var(--space-600);
  }

  blockquote,
  blockquote + *  {
    --flow-space: var(--space-500);
  }

  .heading-anchor {
    visibility: hidden;
  }

  :is(h2, h3, h4, h5, h6):hover {
    .heading-anchor {
      visibility: visible;
    }
  }

  @media (min-width: 45em) {
    .breakout {
      margin-left: calc(-25vw + 25%);
      margin-right: calc(-25vw + 25%);
    }

    .breakout figcaption {
      margin-left: var(--size-600);
    }
  }

  .post-section {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }

  > * + .post-section,
  > .post-section + * {
    --flow-space: var(--space-600);
  }
}