.post {
  position: relative;

  :is(h1, h2, h3, h4, h5, h6) {
    --flow-space: var(--space-600);
    scroll-margin-block-start: var(--space-100);
    letter-spacing: -.03rem;
    line-height: 1;
  }

  // :where(p, li, dd, dt, figcaption, time) {
  //   color: var(--color-text-muted);
  // }

  h1 + time {
    --flow-space: var(--space-500);
    display: inline-block;
  }

  > p,
  > ul li:not([class]),
  > ol li:not([class]) {

    > a:not([class]) {
      color: var(--color-interactive);
    }
  }

  blockquote,
  blockquote + *  {
    --flow-space: var(--space-500);
  }

  .heading-anchor {
    visibility: hidden;
  }

  :is(h2, h3, h4, h5, h6):hover {
    .heading-anchor {
      visibility: visible;
    }
  }

  * + pre,
  pre + * {
    --flow-space: var(--space-500);
  }

  li + li {
    margin-block-start: var(--space-100);
  }
}