@use "sass:map";
@use "../abstracts" as *;

@each $key in $scale {
  .p-top-#{$key} {
    padding-block-start: var(--space-#{$key});
  }

  .m-top-#{$key} {
    margin-block-start: var(--space-#{$key});
  }

  .p-bottom-#{$key} {
    padding-block-end: var(--space-#{$key});
  }

  .m-bottom-#{$key} {
    margin-block-end: var(--space-#{$key});
  }
}