.font-weight-regular {
  font-weight: var(--font-weight-regular);
}

.font-size-200 {
  font-size: var(--size-200);
}

.font-size-300 {
  font-size: var(--size-300);
}

.font-size-400 {
  font-size: var(--size-400);
}

.font-size-500 {
  font-size: var(--size-500);
}

.font-size-600 {
  font-size: var(--size-600);
}

.font-size-700 {
  font-size: var(--size-700);
}

.font-size-800 {
  font-size: var(--size-800);
}

.font-size-900 {
  font-size: var(--size-900);
}

.font-size-1000 {
  font-size: var(--size-1000);
}