<footer class="site-footer">
    <div class="container">
        <div class="unit whole">
            <p class="site-footer__copyright">&copy;2015 Levi McGranahan</p>
            <div class="site-nav site-nav--footer">
                {% include navigation.html %}
            </div>
        </div>
    </div>
</footer>

<!-- Load any scripts that you can here to help with load time -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>