<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="description" content="{{ site.description }}">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
    <!-- iOS bookmark icons - delete these if you don't want them. -->
    <link rel="apple-touch-icon" href="touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">
</head>