<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="description" content="{{ site.description }}">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700|Work+Sans' rel='stylesheet' type='text/css'>
    <script src="{{ site.baseurl }}/js/libs/picturefill.min.js"></script>
</head>