html {
  font-size: 100%;
  height: 100%;
}

body {
  font-size: var(--font-size-100);
  font-family: var(--font-family-sans);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-background);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: var(--font-weight-black);
}

h1 {
  font-size: var(--font-size-600);
  line-height: 1.1;
}

h2 {
  font-size: var(--font-size-300);
}

h3 {
  font-size: var(--font-size-200);
}

h4 {
  font-size: var(--font-size-200);
}

h5 {
  font-size: var(--font-size-100);
}

h6 {
  font-size: var(--font-size-100);
}

a {
  color: var(--color-link);

  &:hover {
    text-decoration: none;
  }
}

blockquote {
  padding-inline-start: var(--space-200);
  border-left: var(--space-000) solid var(--color-accent-primary);

  p {
    font-size: var(--font-size-400);
    font-style: italic;
    line-height: 1.2;
  }
}

figure {
  margin-left: 0;

  figcaption {
    font-size: var(--font-size-000);
    padding: var(--space-100);
    font-size: var(--font-size-000);
  }
}

pre,
code {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-000);
}

code {
  color: var(--color-code-text);
  position: relative;
  white-space: nowrap;
  word-break: break-all;
  background-color: var(--color-code-background);
  padding-inline: 2px;
}

article {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}