@use "sass:map";
@use "../abstracts/tokens" as *;

/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1140,26,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8,s-l */
/* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1140,19,1.2,9,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  /* Type */
  --fs-000: clamp(0.88rem, calc(0.75rem + 0.61vw), 1.19rem);
  --fs-100: clamp(1.05rem, calc(0.90rem + 0.73vw), 1.43rem);
  --fs-200: clamp(1.26rem, calc(1.08rem + 0.88vw), 1.71rem);
  --fs-300: clamp(1.51rem, calc(1.30rem + 1.05vw), 2.05rem);
  --fs-400: clamp(1.81rem, calc(1.56rem + 1.26vw), 2.46rem);
  --fs-500: clamp(2.18rem, calc(1.87rem + 1.52vw), 2.96rem);
  --fs-600: clamp(2.61rem, calc(2.25rem + 1.82vw), 3.55rem);
  --fs-700: clamp(3.14rem, calc(2.70rem + 2.19vw), 4.26rem);
  --fs-800: clamp(3.76rem, calc(3.24rem + 2.62vw), 5.11rem);
  --fs-900: clamp(4.51rem, calc(3.89rem + 3.15vw), 6.13rem);

  /* Space */
  --space-000: clamp(0.25rem, calc(0.18rem + 0.37vw), 0.44rem);
  --space-100: clamp(0.50rem, calc(0.38rem + 0.61vw), 0.81rem);
  --space-200: clamp(0.75rem, calc(0.55rem + 0.98vw), 1.25rem);
  --space-300: clamp(1.00rem, calc(0.76rem + 1.22vw), 1.63rem);
  --space-400: clamp(1.50rem, calc(1.13rem + 1.83vw), 2.44rem);
  --space-500: clamp(2.00rem, calc(1.51rem + 2.44vw), 3.25rem);
  --space-600: clamp(3.00rem, calc(2.27rem + 3.66vw), 4.88rem);
  --space-700: clamp(4.00rem, calc(3.02rem + 4.88vw), 6.50rem);
  --space-800: clamp(6.00rem, calc(4.54rem + 7.32vw), 9.75rem);
  --space-900: clamp(8.00rem, calc(6.05rem + 9.76vw), 13.00rem);

  /* One-up pairs */
  --space-000-100: clamp(0.25rem, calc(0.03rem + 1.10vw), 0.81rem);
  --space-100-200: clamp(0.50rem, calc(0.21rem + 1.46vw), 1.25rem);
  --space-200-300: clamp(0.75rem, calc(0.41rem + 1.71vw), 1.63rem);
  --space-300-400: clamp(1.00rem, calc(0.44rem + 2.80vw), 2.44rem);
  --space-400-500: clamp(1.50rem, calc(0.82rem + 3.41vw), 3.25rem);
  --space-500-600: clamp(2.00rem, calc(0.88rem + 5.61vw), 4.88rem);
  --space-600-700: clamp(3.00rem, calc(1.63rem + 6.83vw), 6.50rem);
  --space-700-800: clamp(4.00rem, calc(1.76rem + 11.22vw), 9.75rem);
  --space-800-900: clamp(6.00rem, calc(3.27rem + 13.66vw), 13.00rem);

  /* Fonts */
  @each $key, $value in map.get($tokens, "font", "family") {
    --font-#{$key}: #{$value};
  }

  @each $key, $value in map.get($tokens, "font", "weight") {
    --font-#{$key}: #{$value};
  }

  @each $key, $value in map.get($tokens, "color", "palette") {
    --color-#{$key}: #{$value};
  }

  @each $key, $value in map.get($tokens, "color", "tokens") {
    --color-#{$key}: #{$value};
  }
}