/**
 * Card
 */

.mcg-card {
  text-align: center;
  position: relative;
}

.mcg-card__tag {
  position: absolute;
  top: calc(var(--spacing-unit));
  left: 0;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: calc(var(--spacing-unit) / 2);
  line-height: 1.2;
}

.mcg-card__title {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0;
}

.mcg-card__meta {
  color: var(--color-text-lighter);
  display: block;
  font-family: var(--font-mono);
  font-size: .825em;
  margin-top: .5em;
}