/**
 * Footer
 */

.mcg-footer {
  color: var(--color-text-lighter);
  padding: calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 4);
  font-size: .75rem;
  background-color: #fafafa;
  border-top: 1px solid var(--color-ruler);
}

.mcg-footer__copy {
  display: block;
  margin-top: var(--spacing-unit);
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .mcg-footer {
    display: flex;
  }
  
  .mcg-footer__copy {
    margin-left: auto;
  }
}