/**
 * Inline list
 */

.mcg-inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mcg-inline-list li:not(:first-child) {
  margin-top: calc(var(--spacing-unit) * 2);
}

@media screen and (min-width: 36em) {
  .mcg-inline-list li {
    display: inline-block;
  }
  
  .mcg-inline-list li:not(:first-child) {
    margin-top: 0;
    margin-left: var(--spacing-unit);
  }
}