/**
 * Inline list
 */

.mcg-inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mcg-inline-list li:not(:first-child) {
  margin-top: var(--spacing-unit);
}

@media screen and (min-width: 36em) {
  .mcg-inline-list li {
    display: inline-block;
    margin-left: calc(var(--spacing-unit) / 2);
  }
  
  .mcg-inline-list li:not(:first-child) {
    margin-top: 0;
  }
}