---
layout: default
---
<main class="page-content">
    <section class="intro intro--short">
        <div class="container">
            <div class="unit three-fifths centered">
                <h1 class="intro__heading">{{ page.title }}</h1>
                <p class="intro__text">&mdash;</p>
                <p class="intro__text">{{ page.intro_text }}</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container container--kill-vertical">
            <div class="unit three-fifths centered">
                {{ content }}
            </div>
        </div>
    </section>
</main>
