---
layout: default
---
<main>
    <div class="wrapper wrapper--tall">
        <div class="center-column">
            <div class="content">
                <header class="post__header">
                    <h1 class="post__title post__title--page">{{ page.title }}</h1>
                    <p class="post__teaser">{{ page.intro_text }}</p>
                </header>
                <section>
                    {{ content }}
                </section>
            </div>
        </div>
    </div>
</main>
