---
layout: default
---
<main>
    <div class="wrapper wrapper--tall">
        <div class="center-column">

        <header class="post__header content">
            <h1 class="post__title">{{ page.title }}</h1>
            <time class="post__date" datetime="{{ post.date | date: '%F'}}">{{ page.date | date: '%b %d, %Y' }}</time>
            {% if page.category %}
                <span>|</span> <sapn class="post__category post__category--{{ page.category | downcase }}">{{ page.category }}</span>
            {% endif %}
        </header>

        <div class="content content--{{ page.category | downcase }} content--margin-top">
            {{ content }}
        </div>
    </div>

    </div>
</main>
