---
layout: default
---
<div class="wrapper">
    <div class="project-info">
        <header class="project-header">
            <h1 class="project-header__title">{{ page.title }}</h1>
            <p class="project-header__description">{{ page.description }}</p>
        </header>
        <div class="project-meta">
            <h2 class="project-meta__subhead">Filed under</h2>
            <ul class="project-meta__tags">
                {% for tag in page.tags %}
                    <li class="project-meat__tags-item">{{ tag }}</li>
                {% endfor %}
            </ul>

            {% if page.website %}
                <h2 class="project-meta__subhead">Website</h2>
                <a href="{{ page.website }}" target="_blank">{{ page.website | remove: "http://" }}</a>
            {% endif %}
        </div>
    </div>
    <section class="project-content">
        {{ content }}
    </section>
</div>
