<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if metaTitle %}{{ metaTitle }}{% else %}{{ title }}{% endif %} - {{ site.title }}</title>
  {% include "partials/head-meta-tags.njk" %}
  {% include "partials/head-meta-links.njk" %}
  {%- include 'partials/meta-cards.njk' -%}
</head>
<body class="{{ bodyClass }}">
  {% include "partials/icon-sprite.html" %}
  {% include 'partials/header.njk' %}
  <main id="main-content">
    {{ content | safe }}
  </main>
  {% include 'partials/footer.njk' %}
</body>
</html>