<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% if metaTitle %}{{ metaTitle }}{% else %}{{ title }}{% endif %} - {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if description %}{{ description | striptags }}{% else %}{{ site.tagline }}{% endif %}" />
  {%- include 'misc/meta-cards.njk' -%}
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@375;425;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <link type="application/atom+xml" rel="alternate" href="{{ site.baseUrl }}/feed.xml" title="{{ site.title }}">
</head>
<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
  {% include 'components/header.njk' %}
  <main role="main" id="main-content">
    {% block main %}
      {{ content | safe }}
    {% endblock %}
  </main>
  {% include 'components/footer.njk' %}
</body>
</html>