<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% if metaTitle %}{{ metaTitle }}{% else %}{{ title }}{% endif %} - {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if description %}{{ description | striptags }}{% else %}{{ site.tagline }}{% endif %}" />
  {%- include 'partials/meta-cards.njk' -%}
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
  <link rel="stylesheet" href="/css/styles.css">
  <link type="application/atom+xml" rel="alternate" href="{{ site.baseUrl }}/feed.xml" title="{{ site.title }}">
</head>
<body>
  {% include "partials/icon-sprite.html" %}
  {% include 'partials/header.njk' %}
  <main id="main-content">
    {{ content | safe }}
  </main>
  {% include 'partials/footer.njk' %}
</body>
</html>