{% extends 'layouts/base.njk' %}
{% block main %}
<div class="mcg-page-header mcg-wrapper mcg-wrapper--wider">
  {% include "components/post-header.njk" %}
</div>
<div class="mcg-wrapper mcg-wrapper--wider">
  {{ content | safe }}
</div>

{% endblock %}