---
layout: layouts/base.njk
---
<article>
  <div class="layout-container">
    <div class="layout-container__inner [ p-top-700 ]">
      <div class="sidebar-layout content-container">
        {% include "partials/article-header.njk" %}
      </div>
    </div>
  </div>

  <div class="layout-container">
    <div class="layout-container__inner [ p-top-600 p-bottom-500 ]">
      <div class="article-layout content-container">
        {% if asideContent %}
        <div class="article-layout__aside [ flow ]">
          {{ asideContent | safe }}
        </div>
        {% endif %}

        <div class="article-layout__main post flow">
          {{ content | safe }}
        </div>
      </div>
    </div>
  </div>

</article>