---
layout: layouts/base.njk
---
<article class="post flow container">
  {{ date | dateFormatted }}
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>

<span id="tags-label" class="mcg-font-14">Tagged:</span>
<ul role="list" aria-labelledby="tags-label">
  {% for tag in tags %}
  {% if tag != 'post' %}
  <li><a href="/tags/{{ tag | slugify }}">{{ tag }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

{% include "partials/prev-next-nav.njk" %}