---
layout: layouts/base.njk
---
<article class="post flow container content">
  <div class="post-intro">
    <time class="meta-date">{{ date | dateFormatted }}</time>
    <h1>{{ title }}</h1>
  </div>
  <hr>
  {{ content | safe }}
</article>
<div class="container">
  {% include "partials/meta-tags.njk" %}
</div>
{% include "partials/prev-next-nav.njk" %}