---
layout: layouts/base.njk
---
<article class="p-top-700">
  <div class="post flow">
    <div class="post-header">
      <a class="post-header__back-link" href="/blog/">
        {# <svg class="icon" aria-hidden="true">
          <use href="#left-arrow"></use>
        </svg> #}
        <span>← Blog</span>
      </a>
      <h1 class="post-header__title">{{ title }}</h1>
      <div class="post-header__metadata">
        <time class="date">{{ date | dateFormatted }}</time>
        {% if tags.length > 1 %}<span aria-hidden="true">|</span>{% endif %}
        <div class="tag-list">
          <span class="sr-only" id="tags-label-{{ title | slugify }}">Post tags</span>
          <ul role="list" aria-labelledby="tags-label-{{ title | slugify }}">
            {% for tag in tags %}
            {% if tag != "post" %}
            <li><a href="/tags/{{ tag | slugify }}"><span>#</span>{{ tag }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="m-top-600 p-bottom-600">
    <div class="post flow">
      {{ content | safe }}
      {% include "partials/prev-next-nav.njk" %}
    </div>
  </div>
</article>