---
layout: layouts/base.njk
---
{% from "partials/prev-next-nav.njk" import previousNextNav %}

<article>
  <a href="/projects/">
    <span>← Projects</span>
  </a>
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>

  {% if heroImage %}
  <div>
    {%- figure {
      image: heroImage,
      altText: heroImageAltText
    } -%}
  </div>
  {% endif %}

  {{ content | safe }}
  {{ previousNextNav(collections.projects, page) }}
</article>