$colors: (
  neutral-000: hsl(30, 20%, 98%),
  neutral-100: hsl(36, 22%, 95%),
  neutral-200: hsl(40, 17%, 93%),
  neutral-300: hsl(38, 14%, 89%),
  neutral-400: hsl(40, 7%, 84%),
  neutral-500: hsl(40, 2%, 74%),
  dark-000: hsl(180, 16%, 94%),
  dark-100: hsl(171, 11%, 88%),
  dark-200: hsl(209, 16%, 74%),
  dark-300: hsl(209, 13%, 44%),
  dark-400: hsl(211, 57%, 16%),
  dark-500: hsl(211, 65%, 10%),
  accent-primary: hsl(123, 78%, 91%),
  accent-secondary: hsl(0, 94%, 94%),
  accent-tertiary: hsl(187, 78%, 91%)
)