@use "sass:map";

$tokens: (
  color: (
    palette: (
      "black-000": hsl(205, 5%, 97%),
      "black-100": hsl(205, 10%, 95%),
      "black-200": hsl(205, 10%, 85%),
      "black-300": hsl(205, 40%, 35%),
      "black-400": #082b45,
      "white-000": hsl(27, 69%, 97%),
      "white-100": hsl(27, 50%, 95%),
      "white-200": hsl(27, 50%, 90%),
      "white-300": hsl(27, 50%, 95%),
      "white-400": hsl(27, 50%, 95%),
      "green-000": hsl(132, 45%, 97%),
      "green-100": hsl(125, 48%, 95%),
      "green-200": hsl(137, 74%, 87%),
      "green-300": hsl(176, 15%, 40%),
      "green-400": hsl(176, 55%, 17%)
    ),
    tokens: (
      "background": var(--color-white-100),
      "background-light": var(--color-white-000),
      "background-dark": var(--color-green-400),
      "text": var(--color-green-400),
      "text-medium": var(--color-green-300),
      "accent": var(--color-green-200),
      "primary": var(--color-green-400),
      "primary-dark": var(--color-green-400),
      "primary-light": var(--color-green-400),
      "secondary": var(--color-red),
      "ruler": hsl(175, 12%, 86%)
    )
  ),
  font: (
    family: (
      "sans": "'Public Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif",
      "serif": "'Source Serif Pro', serif",
      "mono": "'Source Code Pro', monospace"
    ),
    weight: (
      "regular": 400,
      "bold": 700
    )
  ),
  space: (
    "000",
    "100",
    "200",
    "300",
    "400",
    "500",
    "600",
    "700",
    "800",
    "900"
  )
);