@use "sass:map";

$tokens: (
  color: (
    palette: (
      "black": hsl(256, 25%, 15%),
      "black-medium": hsl(256, 15%, 35%),
      "black-light": hsl(256, 8%, 85%),
      "white": hsl(48, 20%, 92%),
      "white-light": hsl(48, 20%, 95%),
      "white-dark": hsl(48, 20%, 89%),
      "green": hsl(150, 72%, 29%),
      "green-medium": hsl(143, 52%, 60%),
      "red": hsl(4, 82%, 49%),
      "blue": hsl(216, 100%, 42%)
    ),
    tokens: (
      "background": var(--color-white),
      "background-light": var(--color-white-light),
      "background-dark": var(--color-white-dark),
      "text": var(--color-black),
      "text-medium": var(--color-black-medium),
      "text-light": var(--color-black-light),
      "primary": var(--color-red),
      "secondary": var(--color-blue),
      "secondary-medium": var(--color-red),
      "ruler": var(--color-black-light)
    )
  ),
  font: (
    family: (
      "sans": "'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif",
      "serif": "'Source Serif Pro', serif",
      "mono": "'Source Code Pro', monospace"
    ),
    weight: (
      "regular": 400,
      "bold": 700
    )
  )
);