/*-----------------------------------------------
    Shamefile

    shameful stuff that has no home

    _shamefile.scss
-----------------------------------------------*/

.reverse-theme {
    background-image: none;
    background-color: $color-text;
    background-size: 600px;
    background-position: top left;
    color: $color-background;

    .site-header__logo a,
    .site-nav__item a {
        color: $color-background;

        &:hover {
            color: $color-primary;
        }
    }

    .site-footer {
        background-color: mix($color-text, black, 97%);
    }

    .site-footer__copyright,
    .site-footer__copyright a {
        color: $color-background;
    }

    .site-footer__copyright a {

        &:hover {
            color: $color-primary;
        }
    }

    .site-footer__nav a {
        background-color: $color-background;

        &:hover {
            color: $color-primary;
        }
    }

    @include responsive($bp-medium) {
        .site-footer__nav a {
            background-color: transparent;
            color: $color-background;
        }
    }

    hr {
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.about-content {
    margin-bottom: 6em;
}

/*
**  Article List
**  A container list without any list styles
*/

.article-list {
    display: block;
    list-style: none;
    padding: 0;
}

.article-list__item {
    display: block;
    margin-bottom: 2em;
}

@include responsive($bp-large) {
    .article-list__item {
        margin-bottom: 4em;
    }
}

/*
**  Billboard
*/

.billboard {
    background-color: mix($color-background, black, 80%);
    @include clear-fix;
    color: $color-background;
    overflow: hidden;
}

.billboard__info {
    padding: 1em;
}

.billboard__title {
    margin-top: 0;
    line-height: 1;
    font-size: $font-size-2;

    a {
        color: $color-text;
    }
}

.billboard__teaser {
    margin-bottom: 1.5em;
    font-size: .875em;
    color: $color-text-quiet;
}

.billboard__cta {
    display: inline-block;
    font-size: .9em;
    padding: .25em .5em;
    background-color: $color-primary;
    color: $color-text;
    border-radius: 3px;
    transition: background-color .3s ease;

    &:hover {
        color: $color-text;
        background-color: mix($color-primary, black, 80%);
    }
}

.billboard__cta--alternate {
    background-color: $color-alternate;

    &:hover {
        background-color: mix($color-alternate, black, 80%);
    }
}

.billboard__cta--secondary {
    background-color: $color-secondary;

    &:hover {
        background-color: mix($color-secondary, black, 80%);
    }
}

@include responsive($bp-medium) {
    .billboard__teaser {
        font-size: 1em;
    }
}

@include responsive($bp-large) {
    .supports-flex .billboard {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
          -webkit-box-align: center;
             -ms-flex-align: center;
                align-items: center;

    }

    .billboard--odd {
        flex-direction: row-reverse;
    }

    .billboard__cover {
        display: block;
        width: 50%;
        float: left;
    }

    .billboard__info {
        position: relative;
        float: left;
        width: 50%;
        padding: 1em;
    }

    .billboard__teaser {
        margin-bottom: 2em;
    }

    .billboard__cta {
        padding: .5em 1em;
    }
}

@include responsive($bp-xlarge) {
    .billboard__info {
        padding: 2.85em;
    }

    .billboard__teaser {
        font-size: 1em;
    }
}

.library {
    padding: 2em 0;
    padding: 12vh 0 8vh 0;
}
