.l-slice {
    padding: 1em 0;    
}

@include responsive($bp-medium) {
    .l-slice {
        padding: 2.5em 0;    
    }
}

.u-text-center {
    text-align: center;
}

.u-hr {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.u-medium-up-inline {
    display: none;
}

@include responsive($bp-medium) {
    .u-medium-up-inline {
        display: inline-block;
    }
}