---
layout: default
title: Notes
body: notes-home
---
<main class="notes">
        <ol class="notes-list">
            {% for post in paginator.posts %}
            <li class="notes-list__item">
                <article class="note">
                    {% if post.post_type == "square" %}
                    <div class="container container--kill-vertical">
                        <div class="unit three-fifths centered">
                            <article class="note-content">
                                <h1 class="note-content__title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
                                <span class="note-content__caption">{{ post.content }}</span>
                            </article>
                            <figure class="note__figure">
                                <img
                                    src="{{ post.photo }}"
                                    srcset="{{ post.photo_large }} 1200w">
                            </figure>
                            <time datetime="{{ post.date | date: '%F'}}" class="note-content__date">{{ post.date | date: '%b %d, %Y' }}</time>
                        </div>
                    </div>
                    {% endif %}
                    {% if post.post_type == "landscape" %}
                    <div class="container container--kill-vertical">
                        <div class="unit three-fifths centered">
                            <article class="note-content">
                                <h1 class="note-content__title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
                                <span class="note-content__caption">{{ post.content }}</span>
                            </article>
                        </div>
                    </div>
                    <div class="container container--kill-vertical">
                        <div class="unit whole">
                            <figure class="note__figure">
                                <img
                                    src="{{ post.photo }}"
                                    srcset="{{ post.photo_large }} 2000w">
                            </figure>
                            <time datetime="{{ post.date | date: '%F'}}" class="note-content__date">{{ post.date | date: '%b %d, %Y' }}</time>
                        </div>
                    </div>
                    {% endif %}
                    {% if post.post_type == "text" %}
                    <div class="container container--kill-vertical">
                        <div class="unit three-fifths centered">
                            <section class="note-content note-content--text">
                                <h1 class="note-content__title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
                                <p class="note-content__caption">{{ post.teaser }}</p>
                                <time datetime="{{ post.date | date: '%F'}}" class="note-content__date">{{ post.date | date: '%b %d, %Y' }}</time>
                            </section>
                        </div>
                    </div>
                    {% endif %}
                </article>
            </li>
            {% endfor %}
        </ol>

    <div class="container">
        <div class="unit whole">
            <div class="pagination">
                {% if paginator.previous_page %}
                <a class="pagination__link pagination__link--next" href="{{ paginator.previous_page_path }}" class="previous">&#8592; Newer</a>
                {% endif %}
                {% if paginator.next_page %}
                <a class="pagination__link pagination__link--prev" href="{{ paginator.next_page_path }}" class="next">Older &#8594;</a>
                {% endif %}
            </div>
        </div>
    </div>
</main>
