/*-----------------------------------------------

    Base styles

-----------------------------------------------*/

html {
    font-size: 110%;
}

body {
    background-color: $color-background;
    color: $color-text;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

body * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@include mq(bp(md)) {
    html {
        font-size: 120%;
    }
}

@include mq(bp(xl)) {
    html {
        font-size: 130%;
    }
}

p {
    font-size: 1rem;
    margin: $sp-4 0;
}

a {
    color: #2858e3;
}

img {
    display: block;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: $ts-16;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}