/*-----------------------------------------------

    Footer

-----------------------------------------------*/
.site-footer {
    padding: 1em 0;
    background-color: mix($color-background, $color-text, 97%);

    &:after {
        @include clear-fix;
    }
}

.site-footer__copyright {
    color: rgba($color-text, .5);
    margin: 0;

    a {
        color: rgba($color-text, .5);
        font-size: .875em;

        &:hover {
            color: $color-primary;
        }
    }
}

.site-footer__nav {

    a {
        display: inline-block;
        font-size: .875em;
        background-color: $color-primary;
        padding: .25em .75em;
        color: $color-text;
        @include trans(color, .3s);
        -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
                border-radius: 2px;
    }
}


@include responsive($bp-medium) {
    .site-footer__nav a {
        background-color: transparent;
        color: rgba($color-text, .5);
        padding: 0;

        &:hover {
            color: $color-primary;
        }
    }
}
