.wrapper {
    @include outer-container($site-max-width);
    padding: 1em;

    @include media($bp-medium) {
        padding: 2em;
    }

    &--tall {
        padding-top: 1em;
        padding-bottom: 1em;

        @include media($bp-medium) {
            padding-top: 3em;
            padding-bottom: 3em;
        }
    }

    &--jumbo {
        padding-top: 3em;
        padding-bottom: 3em;

        @include media($bp-medium) {
            padding-top: 6em;
            padding-bottom: 6em;
        }
    }

    &--inner {
        padding: 0;
    }

    &--inset {
        @include media(1240px) {
            padding: 2em 4em;
        }
    }

}

.center-column {
    @include media($bp-medium) {
        @include span-columns(8);
        @include shift(2);
    }
}

.half {
    @include media($bp-medium) {
        @include span-columns(6);
    }
}

.half--push {
    @include media($bp-medium) {
        @include shift(6);
    }
}

.three-fourths {
    @include media($bp-medium) {
        @include span-columns(8);
    }
}

.one-third {
    @include media($bp-medium) {
        @include span-columns(4);
    }
}

.one-third--push {
    @include media($bp-medium) {
        @include span-columns(4);
        @include shift(8);
    }
}

.two-thirds {
    @include media($bp-medium) {
        @include span-columns(8);
    }
}

.two-thirds--pull {
    @include media($bp-medium) {
        @include shift(-12);
    }
}

.project-grid {
    list-style: none;
    padding: 0;
    // margin: 0 -.5em;

    &:after {
        content: "";
        clear: both;
        display: block;
    }

    &__item {
        // padding: .5em;

        @include media($bp-medium) {
            float: left;
            width: 50%;
        }
    }
}

.grid-list {
    list-style: none;
    padding: 0;

    @include outer-container($site-max-width);
}

.grid-list__item {

}

.grid-list--2up {

    @include media($bp-small) {
        .grid-list__item {
            @include span-columns(6);
            @include omega(2n);
            margin-bottom: 3em;
        }
    }

}
