/*-----------------------------------------------
    Header

    Global site header

    _header.scss
-----------------------------------------------*/

.site-header {
    margin-bottom: $shim*2;
}

.site-header__logo {
    font-size: 1em;
    margin: 0;

    a {
        color: $color-text;
        text-decoration: none;
        transition: color .3s ease;

        &:hover {
            color: $color-primary;
        }
    }
}

.site-header__logo {
    @include media($bp-medium) {
        @include span-columns(4);
    }

}

.site-nav {
    @include media($bp-medium) {
        @include span-columns(8);
        text-align: right;
    }
}

.site-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav__item {
    display: inline-block;
    margin-right: 2em;

    &:last-child {
        margin-right: 0;
    }

    a {
        color: $color-text;
        text-decoration: none;
        transition: color .3s ease;
        padding-bottom: .25em;

        &:hover {
            color: $color-primary;
        }
    }
}

.site-nav__item--notes.is-current {
    border-bottom: 3px solid $color-note;
}
