/*-----------------------------------------------
    Header

    Global site header

    _header.scss
-----------------------------------------------*/

.site-header {
    @include outer-container($site-max-width);
    padding: 2em;
    text-align: center;

    @include media($bp-medium) {
        text-align: left;
    }
}

.site-header__logo {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    /**
     * Magic Number: this gets the site title to set even with the
     * site nav. Padding on shop link causes this.
     */
    padding-top: .35em;

    a {
        color: $color-text;
        text-decoration: none;
        transition: color .3s ease;

        &:hover {
            color: $color-primary;
        }
    }
}

.site-header__logo {
    @include media($bp-medium) {
        @include span-columns(3);
    }

}

.site-nav {
    margin-top: 1em;

    @include media($bp-medium) {
        @include span-columns(9);
        text-align: right;
        margin-top: 0;
    }
}

.site-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav__item {
    display: inline-block;
    margin-right: 1.25em;

    &:last-child {
        margin-right: 0;
    }

    a {
        color: $color-text;
        text-decoration: none;
        transition: color .3s ease;
        padding-bottom: .25em;

        &:hover {
            color: $color-primary;
        }
    }
}

.site-nav__item.is-current {
    border-bottom: 3px solid $color-text;
}

.site-nav__item--posts a:hover {
    color: $color-article;
}

.site-nav__item--posts.is-current {
    border-bottom: 3px solid $color-article;
}

.site-nav__item--library a:hover {
    color: $color-book;
}

.site-nav__item--library.is-current {
    border-bottom: 3px solid $color-book;
}

.site-nav__item--shop a {
    display: inline-block;
    border: 2px solid $color-text;
    padding: .25em 1em;
    border-radius: 3px;

    &:hover,
    &:focus,
    &:active {
        background-color: $color-blue;
        border-color: $color-blue;
        color: $color-background;
    }
}
