// Border radius
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
         -o-border-radius: $radius;
            border-radius: $radius;
}

// Just specify the values for you box shadows

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
       -moz-box-shadow: $shadow;
         -o-box-shadow: $shadow;
            box-shadow: $shadow;
}

// A subtle hover transition effect

@mixin trans($property, $time){
    -webkit-transition: $property $time ease;
       -moz-transition: $property $time ease;
        -ms-transition: $property $time ease;
         -o-transition: $property $time ease;
            transition: $property $time ease;
}

@mixin clear-fix {
    &:after {
        clear: both;
        content: "";
        display: block;
    }
}

// Simple media query mixin. Just specify your breakpoint and added styles

@mixin responsive($size) {
    @media screen and (min-width: $size) { @content; }
}

