/*-------------------------------------------------------------------------
    Shamefile

    shameful stuff that has no home

    _shamefile.scss
-------------------------------------------------------------------------*/

.content {
    @include outer-container(760px);
}

.content--margin-top {
    margin-top: 4em;
}

.intro__text {
    margin: 0;
    font-weight: 400;

    a:hover {
        text-decoration: underline;
    }
}

.subhead {
    font-size: 1em;
    font-family: $font-family-alternate;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
    color: $color-text-quiet;
}

.color-book {
    color: $color-book;
}

.color-article {
    color: $color-article;
}

.color-work {
    color: $color-work;
}

a.color-article {
    &:hover {
        color: $color-article;

    }
}

a.color-book {
    &:hover {
        color: $color-book;

    }
}

a.color-work {
    &:hover {
        color: $color-work;

    }
}

a.color-link {

}
