.l-slice {
    padding: 1em 0;
}

/*
 * FIXME: Switch this over the the Burbon media query mixin.
 */

@include responsive($bp-medium) {
    .l-slice {
        padding: 2.5em 0;
    }
}

.u-text-center {
    text-align: center;
}

.u-hr {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.u-hr-btm {
    border-bottom: $color-ruler;
}

.u-medium-up-inline {
    display: none;
}

/*
 * FIXME: Switch this over the the Burbon media query mixin.
 */
@include responsive($bp-medium) {
    .u-medium-up-inline {
        display: inline-block;
    }
}

/*
 * Margin utilities
*/

.mb-sm {
    margin-bottom: 1em;
}

.mt-sm {
    margin-top: 1em;
}

.mb-md {
    margin-bottom: 2em;
}

.mt-md {
    margin-top: 2em;
}

/*
 * Padding
*/

.pt-sm {
    padding-top: 1em;
}

.pb-sm {
    padding-bottom: 1em;
}

.pt-md {
    padding-top: 2em;
}

.pb-md {
    padding-bottom: 2em;
}
