---
layout: default
title: Notes
body: notes-home
---
<main>
    <section class="layout">
        <ul class="post-list">
            {% for post in paginator.posts %}
            <li class="post-list__item">
                <article class="post">
                    <h1 class="post__title post__title--{{ post.category | downcase }}">
                        {% if post.external_link %}
                            <a href="{{ post.external_link }}" target="_blank">{{ post.title }}</a>
                        {% else %}
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        {% endif %}
                    </h1>

                    {% if post.teaser %}
                        <p class="post__teaser">{{ post.teaser }}</p>
                    {% else %}
                        <p class="post__teaser">{{ post.description | truncatewords: 25 }}</p>
                    {% endif %}

                    <div class="post__meta">
                        <time class="post__date" datetime="{{ post.date | date: '%F'}}">{{ post.date | date: '%b %d, %Y' }}</time>
                        {% if post.category %}
                            <a href="#" class="post__category post__category--{{ post.category | downcase }}">{{ post.category }}</a>
                        {% endif %}
                    </div>
                </article>
            </li>
            {% endfor %}
        </ul>
    </section>
    <div class="pagination layout layout--vertical-space">
        {% if paginator.previous_page %}
            <a class="pagination__link pagination__link--next" href="{{ paginator.previous_page_path }}" class="previous">&#8592; Newer</a>
        {% endif %}
        {% if paginator.next_page %}
            <a class="pagination__link pagination__link--prev" href="{{ paginator.next_page_path }}" class="next">Older &#8594;</a>
        {% endif %}
    </div>
</main>
