/*-----------------------------------------------

	Base styles

-----------------------------------------------*/

body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
}

a {
	color: $color-link;
}