/*-----------------------------------------------

    Base styles

-----------------------------------------------*/

body {
    color: $color-text;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

a {
    color: $color-link;
    text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
}

p {
    margin-bottom: 1.5em;
}