/*-----------------------------------------------
    Intro

    Intro section for the home page

    _intro.scss
-----------------------------------------------*/

.intro {
    padding: 4em 0 10em 0;
    padding: 5vh 0 10vh 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro__text {
    margin: 0;
    font-size: $font-size-3;
}

@include responsive($bp-medium) {
    
    .intro {
        padding: 4em 0 9em 0;
        padding: 12vh 0 20vh 0;
    }
}