/*-----------------------------------------------
    Projects

    Projects list styles

    _projects.scss
-----------------------------------------------*/

.project {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: $color-background;
    
    img {
        transition: .3s opacity ease;
    }
    
    &:hover {
        .project-description {
            display: block;
        }
        
        img {
            opacity: .25;
        }    
    }
}

.project__info {
    padding: .5em;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}

@include responsive($bp-medium) {
    .project__info {
        padding: 1em;
    }    
}

.project__title {
    margin: 0;
    font-weight: 400;
    font-size: $font-size-6;
}

.project-header {
    padding: 2em 0;
    padding: 6vh 0 3vh 0;
}

@include responsive($bp-medium) {
    .project-header {
        padding: 12vh 0 8vh 0;
    }
}

.project-header__title {
    font-size: $font-size-3;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1.15em;
}

.project-header__description p {
    color: mix($color-background, white, 20%);
}

.project-header__meta {
    margin-bottom: 2em;
}

.project-header__meta-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.project-header__meta-item {
    font-size: .85em;
    display: inline-block;

    &:after {
        content: ","
    }

    &:last-child:after {
        content: "";
    }
}

.project-header__meta-item a:hover {
    color: $color-primary;
    text-decoration: underline;
}

.project-header__sub-head {
    font-family: $font-family-alternate;
    font-size: .85em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: .25em;
    color: $color-text-quiet;
}

.project-header__tag:after {
    content: ",";
}

.project-header__tag:last-child:after {
    content: "";
}

.project-content {
    margin-bottom: 2em;
}

.project-content__figure {
    margin-bottom: 1em;

    figcaption {
        color: $color-text-quiet;
        padding-top: .5em;
        font-size: .875em;
    }
}

@include responsive($bp-medium) {
    .project-content__figure {
        margin-bottom: 2em;
    }
}

.projects-more {
    list-style: none;
    margin: $grid-gutters * -.5;
    padding: 0;

    &:after {
        content: "";
        clear: both;
        display: block;
    }

    li {
        display: block;
        float: left;
        padding: $grid-gutters * .5;
        width: 50%;
    }
}

@include responsive($bp-medium) {

    .projects-more {
        margin: $grid-gutters * -1;

        li {
            width: 33.333%;
            padding: $grid-gutters;    
        }
        
    }
}

