---
layout: default
---
<article class="note-single">
    <div class="container">
        <div class="unit three-fifths centered">
            <header>
                <h1 class="note-single__title">{{ page.title }}</h1>
                <time datetime="{{ post.date | date: '%F'}}" class="note-content__date">{{ page.date | date: '%b %d, %Y' }}</time>
            </header>
        </div>
    </div>
    {% if page.photo %}
    <div class="container">
        {% if page.post_type == "square" %}
            <div class="unit three-fifths centered">
                 <figure>
                    <img
                        src="{{ page.photo }}"
                        srcset="{{ page.photo_large }} 2000w">
                </figure>
            </div>
        {% else %}
            <div class="unit whole">
                <figure>
                    <img 
                        src="{{ page.photo }}"
                        srcset="{{ page.photo_large }} 2000w">
                </figure>
            </div>
        {% endif %}
    </div>
    {% endif %}
    <div class="container">
        <div class="unit three-fifths centered">
            {{ content }} 
        </div>
    </div>
</article>