---
layout: default
---
<article class="note-single {% if page.post_body == 'reverse' %}note-single--reverse{% endif %}">
    <div class="container">
        <div class="unit three-fifths centered">
            <header>
                <h1 class="note-single__title">{{ page.title }}</h1>
                <time class="note-single__date">{{ page.date | date: '%b %d, %Y' }}</time>
            </header>
        </div>
    </div>
    {% if page.photo %}
    <div class="container">
        {% if page.post_type == "square" %}
            <div class="unit three-fifths centered">
                 <figure>
                    <img src="{{ page.photo }}">
                </figure>
            </div>
        {% else %}
            <div class="unit whole">
                <figure>
                    <img src="{{ page.photo }}">
                </figure>
            </div>
        {% endif %}
    </div>
    {% endif %}
    <div class="container">
        <div class="unit three-fifths centered">
            {{ content }} 
        </div>
    </div>
</article>
<div class="container">
    <div class="unit whole">
        <hr />
    </div>
</div>