{% include html-head.html %}
<body class="{% if page.body %}{{ page.body }}{% endif %}">
    {% include header.html %}
        <header class="project-header">
            <div class="container">
                <div class="unit two-thirds push">
                    <h1 class="project-header__title">{{ page.title }}</h1>
                    <span class="project-header__description">
                        {{ content }}    
                    </span>
                    {% if page.website %}
                        <a class="project-header__website" href="{{ page.website }}" target="_blank">Go to site</a>
                    {% endif %}
                    <h2 class="project-header__sub-head">Filed under</h2>
                    {% for tag in page.tags %}
                        <span class="project-header__tag">{{ tag }}</span>
                    {% endfor %}
                </div>
            </div>
        </header>
        <div class="container">
            <div class="unit whole">
                <ul class="images-list">
                    {% for pic in page.pics %}
                        <li class="images-list__item">
                            <figure>
                                <img src="{{ pic }}">
                            </figure>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    {% include footer.html %}
</body>
</html>