---
title: About
description: "A quick summary about me and what I've been up to lately"
metaTitle: Web designer and developer working on Rivet design system
layout: layouts/base.njk
eleventyNavigation:
  parent: Main
  key: About
  order: 3
---
<a href="/">
  <span>← Home</span>
</a>
<h1>{{ title }}</h1>