---
title: About
description: About page description 
layout: layouts/base.njk
eleventyNavigation:
  key: About me
  parent: Main
  order: 3
---
<div class="container space-top-900">
  <h1 class="sr-only">{{ title }}</h1>
  <div class="post flow">
    <figure class="avatar">
      <img src="https://github.com/levimcg.png" alt="">
    </figure>
    <p>Hi, I'm Levi McGranahan. I am a designer and front-end web developer based in the Midwest, USA. I've been designing and building for all types of screens for more than 15 years.</p>
    <p>For the last four years I've been working on an enterprise <a href="https://v2.rivet.iu.edu/">design system</a> at Indiana University—a top public research university based in Bloomington where I live.</p>
    <p>This is my personal site where I capture <a href="/notes">notes</a> and <a href="/blog">ideas</a>. It's also the space I use as a playground to learn new CSS, JavaScript, and design concepts. You can also You can find me on <a href="https://twitter.com/levimcg">Twitter</a>, <a href="https://www.instagram.com/levimcg/">Instagram</a>, and <a href="https://github.com/levimcg">Github</a>.</p>
  </div>
</div>