---
title: Artwork
teaser: I occasionally make art and illustration pieces. Here are a selection of my favorites. You can see more on <a href="https://www.instagram.com/levimcg/">Instagram</a>.
bodyClass: mcg-artwork-page
lazyLoad: true
---
{% extends 'layouts/base.njk' %}

{% block main %}
  <div class="mcg-wrapper mcg-wrapper--wider">
    <h1 class="mcg-sr-only">{{ title }}</h1>
    <p class="mcg-section-heading">{{ teaser | safe }}</p>
  </div>
  <div class="mcg-wrapper mcg-wrapper--full">
    <ol class="mcg-grid">
      {% for item in artwork %}
      <li class="mcg-grid__item">
        {% if item.external %}
          <img class="lazyload" data-src="{{ item.url }}" alt="">
        {% else %}
          <img class="lazyload" data-src="../img/artwork/{{ item.url }}" alt="">
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </div>
{% endblock %}