---
title: Blog
description: A long-running collection of notes and and a few articles I've manged to write down. Grab my <a href="/feed.xml">RSS feed</a> if that’s you’re thing.
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 8
  reverse: true
eleventyNavigation:
  parent: Main
  key: Blog
  order: 1
---
<a href="/">
  <span>← Home</span>
</a>
<h1>{{ title }}</h1>