---
title: Bookshelf
teaser: These are some things I've read and enjoyed
bodyClass: mcg-bookshelf-page
lazyLoad: true
---
{% extends 'layouts/base.njk' %}

{% block main %}
  <div class="mcg-wrapper mcg-wrapper--full">
    <h1 class="mcg-sr-only">{{ title }}</h1>
    <ol class="mcg-grid mcg-grid--gallery">
      {% for post in collections.books | reverse %}
      <li class="mcg-grid__item">
        {% include 'components/card.njk' %}
      </li>
      {% endfor %}
    </ol>
  </div>
{% endblock %}