---
title: Bookshelf
teaser: These are some things I've read and enjoyed
bodyClass: mcg-bookshelf-page
lazyLoad: true
---
{% extends 'layouts/base.njk' %}

{% block main %}
  <div class="mcg-wrapper mcg-wrapper--full">
    <h1 class="mcg-sr-only">{{ title }}</h1>
    {%- for year in collections.sortedBooks | reverse -%}
      <h2 class="mcg-mt-md mcg-mb-sm mcg-alt-heading">{{ year }}</h2>
      <ol class="mcg-grid mcg-grid--library">
      {% for post in collections.books | reverse %}
        {% if post.date | getYear == year %}
          <li class="mcg-grid__item">
            {% include 'components/card.njk' %}
          </li>
        {% endif %}
      {% endfor %}
      </ol>
    {%- endfor -%}
  </div>
{% endblock %}