---
permalink: feed.xml
metadata:
  title: Levi McGranahan's Blog
  url: http://levimcg.com/
  author:
    name: Levi McGranahan
    email: levimcg@gmail.com
  feed:
    subtitle: Some of my random thoughts about life, design, books, code, etc.
    filename: feed.xml
    path: feed.xml
    url: https://levimcg.com/feed.xml
    id: https://levimcg.com/
    icon: https://levimcg.com/favicon.png
    logo: https://levimcg.com/img/hey-sm.png
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.feed.subtitle }}</subtitle>
  <link href="{{ metadata.feed.url }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.post | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.feed.id }}</id>
  <icon>{{ metadata.feed.icon }}</icon>
  <logo>{{ metadata.feed.logo }}</logo>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.post %}
  {% if post.data.draft !== true %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {% endif %}
  {%- endfor %}
</feed>