---
title: Hey, welcome 👋
metaTitle: Hey, welcome
bodyClass: mcg-home-page
---
{% extends 'layouts/base.njk' %}

{% block main %}
<div class="mcg-wrapper mcg-wrapper--wider">
  <div class="mcg-page-header">
    <h1 class="mcg-page-header__title">{{ title | safe }}</h1>
    <p class="mcg-page-header__description">{{ site.tagline | safe }}</p>
  </div>
</div>
<div class="mcg-wrapper mcg-wrapper--wider">
  {% include "components/recent-posts.njk" %}
</div>
{% endblock %}