---
title: Notes
description: Short thoughts and ideas as they come
layout: layouts/base.njk
eleventyNavigation:
  key: Notes
  parent: Main
  order: 1
---
<div class="container">
  <h1>{{ title }}</h1>
  <ol>
    {%- for note in collections.note -%}
    <li>
      <a href="{{ note.url }}">{{ note.data.title }}</a>
    </li>
    {%- endfor -%}
  </ol>
</div>