---
title: Posts
bodyClass: mcg-posts-page
---
{% extends 'layouts/base.njk' %}
{% from 'components/post-teaser.njk' import postTeaser %}

{% block main %}
  <div class="mcg-wrapper">
    <ol class="mcg-feed-list">
      {%- for post in collections.post | reverse -%}
        {# This is a hacky workaround for "draft" functionality #}
        {% if post.data.draft !== true %}
        <li>
          {{-
            postTeaser({
              title: post.data.title,
              date: post.date,
              url: post.url,
              external_link: post.data.external_link
            })
          -}}
        </li>
        {% endif %}
      {%- endfor -%}
    </ol>
  </div>
{% endblock %}