---
title: Projects
description: I like to tinker on lots of projects. Here's a mixed list of day-to-day, freelance, and side projects.
---
{% extends 'layouts/base.njk' %}
{% from 'components/post-teaser.njk' import postTeaser %}

{% block main %}
<section>
  <header class="mcg-page-header mcg-wrapper mcg-wrapper--wider">
    <h1 class="mcg-page-header__title">{{ title }}</h1>
    <p class="mcg-page-header__description">{{ description | safe }}</p>
  </header>

  <ol class="mcg-scrollable">
    {%- for project in projects -%}
    <li class="mcg-chip">
      <img class="mcg-chip__image" src="{{ project.image }}" alt="">
      <div class="mcg-chip__body">
        <h2>
          <a href="{{ project.url }}">{{ project.title }}</a>
        </h2>
        <p>{{ project.description }}</p>
      </div>
    </li>
    {%- endfor -%}
  </ol>
  
</section>
{% endblock %}