---
layout: layouts/base.njk
bodyClass: tags
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - post
permalink: /tags/{{ tag | slugify }}/
---
{%- set taglist = collections[ tag ] -%}
<div class="layout-container">
  <div class="layout-container__inner [ p-top-600 ]">
    <div class="sidebar-layout content-container">
      <div class="article-header">
        <div class="article-header__body [ p-bottom-500 ]">
          <a class="article-header__back-link" href="/blog/">
            <span>← Blog</span>
          </a>
          <h1 class="article-header__title">
            <span>Tags |</span> {{ tag }}
          </h1>
          <p class="article-header__description">{{ description }}</p>
        </div>
        {% if heroImage %}
        <div class="article-header__hero">
          {%- figure {
            image: heroImage,
            altText: heroImageAltText
          } -%}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="layout-container">
  <div class="layout-container__inner [ p-top-600 p-bottom-700 ]">
    <div class="flow content-container">
      <ol role="list" class="list-reset post-list">
        {%- for post in taglist | reverse -%}
        <li>
          <div class="post-teaser flow">
            <a class="post-teaser__title" href="{{ post.url }}">{{ post.data.title }}</a>
            {% if post.data.description %}
            <p class="post-teaser__description">{{ post.data.description }}</p>
            {% endif %}
            <div class="icon-label m-top-300">
              <div class="icon">
                <svg aria-hidden="true" width="24" height="24">
                  <use href="#calendar"></use>
                </svg>
              </div>
              <time class="dt-published" datetime="{{ post.date | datetimeFormat }}">{{ post.date | dateFormatted }}</time>
            </div>
          </div>
        </li>
        {%- endfor -%}
      </ol>
    </div>
  </div>
</div>