body  {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-family: var(--font-sans);
  font-weight: var(--font-weight-regular);
}

h1 {
  font-size: var(--size-700);
}

h2 {
  font-size: var(--size-600);
}

h3,
h4  {
  font-size: var(--size-500);
}

img {
  max-width: min(55rem, 100%);
  height: auto;
}

figcaption {
  font-size: var(--size-300);
  font-style: italic;
  color: var(--color-text-medium);
  margin-top: 1rem;
}

blockquote {
  padding-left: var(--size-600);
  border-left: 5px solid;
  font-style: italic;
}

blockquote p {
  font-size: var(--size-600);
  line-height: 1.3;
}

time {
  display: inline-block;
}

hr {
  height: 1px;
  border-top: none;
  border-bottom: 1px solid var(--color-text-light);
  margin-top: var(--size-300);
  margin-bottom: var(--size-800);
}

a {
  color: var(--color-primary);
}

dt {
  font-weight: 700;
}

code {
  background-color: var(--color-background-light);
  color: var(--color-text);
  font-family: var(--font-mono);
  border-radius: .25rem;
}

::selection {
  color: var(--color-background);
  background: var(--color-primary);
}

@media (min-width: 45em) {
  h2 {
    font-size: var(--size-600);
  }

  h3,
  h4 {
    font-size: var(--size-500);
  }

  p,
  ul,
  ol,
  dl,
  time {
    font-size: var(--size-500);
  }

  figcaption {
    font-size: var(--size-400);
  }

  blockquote p {
    font-size: var(--size-700);
    max-width: 40ch;
  }

  pre code {
    font-size: calc(var(--size-500) * .9);
  }
}

/**
 * Skip Link
 */

.skip-link {
  position: fixed;
  top: -6em;
}

.skip-link:focus {
  top: 0;
}