.post-list {
  list-style: "";
  padding-left: 0;
  margin-top: 0;

  > li {
    margin-bottom: var(--size-800);
  }
}

.note-list {
  padding-left: 0;

  > li {
    margin-bottom: calc(var(--size-900) * 2.5);
  }
}