form {
  --flow-space: 2rem;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  font-size: var(--size-500);
}

label {
  display: inline-block;
  color: var(--color-text-medium);
}

input[type],
textarea,
select {
  display: block;
  width: 100%;
  max-width: 70ch;
  background-color: transparent;
  border: 2px solid var(--color-text-light);
  border-radius: 0;
  font-family: inherit;
  font-size: var(--size-500);
  color: var(--color-text);
  padding-right: var(--size-300);
  padding-left: var(--size-300);

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 3px dashed var(--color-text-light);
    outline-offset: 5px;
  }
}

input[type],
select {
  height: 2.5rem;
}

textarea {
  height: 10rem;
}

label + * {
  margin-top: var(--size-300);
}

button {
  font: inherit;
  width: 100%;
  max-width: 70ch;
  font-size: var(--size-500);
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border: none;
  color: var(--color-white);
}

@media (min-width: 45rem) {
  button {
    width: auto;
    min-width: 6rem;
  }
}