.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-600);

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: var(--size-300);
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 45em) {
  .pagination a {
    font-size: var(--size-500);
  }
}