.post-teaser {
  &__title {
    color: var(--color-text);
    font-size: var(--size-600);
    text-decoration: none;
    line-height: 1.2;

    &:hover {
      text-decoration: underline;
    }
  }

  &__body > p {
    color: var(--color-text-medium);
  }
}

@media (min-width: 45em) {
  .post-teaser {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: var(--size-600);

    &__body > p {
      max-width: 56ch;
    }

    &__title {
      margin-top: 0;
    }
  }
}