.site-footer {
  margin-top: var(--size-900);
  
  &__links {
    padding-left: 0;
    display: flex;
  }

  &__links li:not(:first-child) {
    margin-left: var(--size-600);
  }

  &__links li {
    font-size: var(--size-400);
  }

  &__links li a {
    text-decoration: none;
    color: var(--color-text-medium);
  }
}