/**
 * Typography
 */
.mcg-section-heading {
  font-size: 2em;
  line-height: 1.2;
  margin-top: 0;
}

.mcg-sub-heading {
  font-size: 1rem;
  font-weight: 550;
  margin-top: 2em;
}

/**
 * Typeset for longform content
 */

.mcg-longform {
  margin-top: calc(var(--spacing-unit) * 4);
  line-height: 1.6;
  padding-bottom: calc(var(--spacing-unit) * 3);
  font-weight: 375;
}

.mcg-longform h2,
.mcg-longform h3,
.mcg-longform h4,
.mcg-longform h5,
.mcg-longform h5 {
  font-size: 1.25em;
  font-weight: 425;
  margin-top: calc(var(--spacing-unit) * 6);
  margin-bottom: 0;
}

.mcg-longform ul, ol {
  padding-left: 1em;
}

.mcg-longform ul li strong {
  display: block;
  margin-top: calc(var(--spacing-unit) * 2);
  margin-bottom: var(--spacing-unit);
  line-height: 1.1;
}

.mcg-longform blockquote {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-left: 0;
  padding-left: calc(var(--spacing-unit) * 1.5);
  border-left: var(--color-ruler) calc(var(--spacing-unit) / 2) solid;
  color: var(--color-black-lighter);
  font-style: italic;
}

.mcg-longform figure {
  margin: 0;
  
  figcaption {
    font-size: .8125rem;
    color: var(--color-black-lighter);
  }
}

.mcg-alt-heading {
  color: var(--color-text-lighter);
  font-family: var(--font-mono);
  font-size: 1rem;
}

.mcg-caption {
  color: var(--color-black-lighter);
  font-size: .825rem;
  margin-top: 1rem;
}