/**
 * Visually hide elements but leave them accessible to screen readers
 */

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the
 * keyboard: h5bp.com/p
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.content {
  margin-top: var(--size-900);
}

.color-text {
  color: var(--color-text);
}

.color-text-medium {
  color: var(--color-text-medium);
}

.color-text-light {
  color: var(--color-text-light);
}

.font-weight-regular {
  font-weight: var(--font-weight-regular);
}

.font-size-200 {
  font-size: var(--size-200);
}

.font-size-300 {
  font-size: var(--size-300);
}

.font-size-400 {
  font-size: var(--size-400);
}

.font-size-500 {
  font-size: var(--size-500);
}

.font-size-600 {
  font-size: var(--size-600);
}

.font-size-700 {
  font-size: var(--size-700);
}

.font-size-800 {
  font-size: var(--size-800);
}

.font-size-900 {
  font-size: var(--size-900);
}

.font-size-1000 {
  font-size: var(--size-1000);
}

.space-top-200 {
  margin-top: var(--size-200);
}

.space-top-300 {
  margin-top: var(--size-300);
}
.space-top-400 {
  margin-top: var(--size-400);
}
.space-top-500 {
  margin-top: var(--size-500);
}
.space-top-600 {
  margin-top: var(--size-600);
}
.space-top-700 {
  margin-top: var(--size-700);
}
.space-top-800 {
  margin-top: var(--size-500);
}

.space-top-900 {
  margin-top: var(--size-600);
}

.space-top-1000 {
  margin-top: var(--size-700);
}

@media (min-width: 45em) {
  .space-top-800 {
    margin-top: var(--size-800);
  }

  .space-top-900 {
    margin-top: var(--size-900);
  }
  
  .space-top-1000 {
    margin-top: var(--size-1000);
  }
}