@import "global/settings";
@import "global/tools";
@import "libs/pygments";
@import "libs/normalize";
@import "global/base";
@import "utilities/display";
@import "utilities/type-scale";
@import "utilities/spacing";

@import "components/mcg-figure";
@import "components/mcg-layout";
@import "components/mcg-lists";
@import "components/mcg-typography";
@import "components/mcg-post-teaser";
@import "components/mcg-post-aside";
@import "components/mcg-pagination";
@import "components/mcg-site-header";


.highlight {
    padding: 1rem;
    border-radius: 3px;
    border: 1px solid #eee;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/**
 * Library enhancement stuff
 */
.library-list-fallback {
    display: none;
    list-style: none;
    padding: 0;

    li {
        margin-bottom: 2rem;
    }

    article h1 {
        font-size: $ts-20;
        margin-bottom: 0;
    }

    article p {
        margin: 0;
    }
}

.no-mustard .library-list-fallback {
    display: block;
}

.no-mustard .enhance {
    display: none;
}

.mcg-library-filter {
    display: flex;
    flex-wrap: wrap;

    button {
        background-color: $color-blue;
        color: $color-background;
        border: none;
        border-radius: 4px;
        padding: .25rem .5rem;
        line-height: 1;
        box-shadow: 0 4px 0 mix($color-blue, $color-text, 50%);
        margin-bottom: 1rem;
        font-family: $font-family-alternate;
        font-size: $ts-14;
        letter-spacing: .03rem;

        &[aria-expanded="true"] {
            background-color: mix($color-blue, $color-text, 35%);
            box-shadow: 0 4px 0 mix($color-blue, $color-text, 35%);
        }
    }

    button:not(:last-child) {
        margin-right: .5rem;
    }
}

.mcg-library-list {
    list-style: none;
    margin-top: 2rem;
    padding: 0;

    li {
        text-align: center;
    }
}

@include mq(bp(sm)) {
    .mcg-library-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
}

@include mq(bp(md)) {
    .mcg-library-list {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }
}

@include mq(bp(xl)) {
    .mcg-library-list {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3rem;
    }
}

.mcg-book {
    &__cover {
        padding: $sp-15;
    }

    &__title {
        font-size: $ts-18;
        margin-bottom: $sp-1;

        a {
            text-decoration: none;
        }
    }

    &__author {
        margin: 0;
        color: #666666;
    }

    &__tags {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            font-size: $ts-14;
        }
    }
}

@include mq(bp(sm)) {
    .mcg-book {
        &__cover {
            padding: $sp-10;
        }
    }
}

@include mq(bp(md)) {
    .mcg-book {
        &__cover {
            padding: $sp-5;
        }
    }
}

@include mq(bp(lg)) {
    .mcg-book {
        &__cover {
            padding: $sp-10;
        }
    }
}