@use "./fonts";
@use "./reset";
@use "./variables";
@use "./base";
@use "./prism";
@use "./utils";
@use "./site-header";
@use "./site-footer";
@use "./pagination";
@use "./series-nav";
@use "./tag-list";
@use "./post-teaser";
@use "./feed-lists";
@use "./post";
@use "./layout";
@use "./card";

.icon {
  width: 1rem;
  height: 1rem;
}

@media (min-width: 45rem) {
  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.meta-date {
  color: var(--color-text-medium);
  font-family: var(--font-mono);
  font-size: var(--size-400);
}

.section-heading {
  font-size: var(--size-600);
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
}

@media (min-width: 45em) {
  .avatar {
    width: 140px;
    height: 140px;
  }
}

