@use "./base";
@use "./components";
@use "./utilities";

.section-header {
  --color-section-accent: var(--color-text-muted);

  font-size: var(--font-size-500);

  > span {
    color: var(--color-section-accent);
  }

  &::before {
    content: "";
    display: block;
    width: var(--space-400);
    height: var(--space-100);
    background-color: var(--color-section-accent);
  }
}

.section-header--primary {
  --color-section-accent: var(--color-accent-primary);
}

.section-header--secondary {
  --color-section-accent: var(--color-accent-secondary);
}

.timeline {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-600);
  margin-top: 0;

  li {
    padding-left: var(--space-400);
    position: relative;
  }

  li::before {
    position: absolute;
    content: "";
    display: block;
    width: var(--space-300);
    height: var(--space-300);
    background-color: var(--color-accent-secondary);
    top: .25rem;
    left: calc(var(--space-300) * -2.5);
    border-radius: 50%;
    border: var(--space-000) solid var(--color-background);
  }
}

.timeline-teaser {
  &__title {
    // font-size: var(--font-size-400);
    // font-weight: var(--font-weight-400);
    color: var(--color-text);
    line-height: 1;
  }
}