@import "global/settings";
@import "global/tools";
@import "libs/pygments";
@import "libs/normalize";
@import "global/base";
@import "utilities/display";
@import "utilities/type-scale";
@import "utilities/spacing";

@import "components/mcg-figure";
@import "components/mcg-layout";
@import "components/mcg-lists";
@import "components/mcg-typography";
@import "components/mcg-post-teaser";
@import "components/mcg-post-aside";
@import "components/mcg-pagination";
@import "components/mcg-site-header";


.highlight {
    padding: 1rem;
    border-radius: 3px;
    border: 1px solid #eee;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
