<div class="article-header">
  <div class="article-header__body" {% if hero.idealWidth %}style="--body-ideal-width: {{ hero.idealWidth }}"{% endif %}>
    <a
      class="article-header__back-link"
      href="{{ backLink.url if backLink.url else '/' }}"
    >
      <span>← {{ backLink.text if backLink.text else "Home" }}</span>
    </a>
    <h1 class="article-header__title p-name">{{ title }}</h1>
    {% if description %}
    <p class="article-header__description p-summary">{{- description | safe -}}</p>
    {% endif %}
  </div>
  {% if hero %}
  <div class="article-header__hero">
    {% image hero.url, hero.altText, "(min-width: 45rem) 50vw, 100vw" %}
  </div>
  {% endif %}
</div>