<footer class="site-footer" role="contentinfo">
  <div class="container">
    <ul class="site-footer__links" role="list">
      {%- for link in site.links -%}
        <li>
          <a href="{{ link.url }}"{%- if link.me -%} rel="me"{%- endif -%}>{{ link.title }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</footer>