<link rel="icon" href="/favicon.png" sizes="any">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
<link rel="stylesheet" href="/css/styles.css">
<link type="application/atom+xml" rel="alternate" href="{{ site.baseUrl }}/feed.xml" title="{{ site.title }}">
<link href="https://mastodon.social/@levimcg" rel="me">
<link rel="canonical" href="https://levimcg.com{{ page.url }}">