<header class="site-header [ layout-container ]">
  <a class="skip-link" href="#main-content">Skip to content</a>
  <div class="layout-container__inner">
    <div class="site-header__inner [ content-container p-top-300 p-bottom-300 ]">
      <a class="site-header__logo" href="/" aria-label="{{ site.title }}">
        <svg aria-hidden="true" width="48" height="48">
          <use href="#logo"></use>
        </svg>
      </a>
      <nav class="site-header__nav" role="navigation" aria-label="Global">
        <ul role="list">
          {%- for item in collections.all | eleventyNavigation("Main") -%}
            <li>
              <a href="{{ item.url }}"{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.title }}</a>
            </li>
          {%- endfor -%}
           <li class="show-on-large">
              <a href="/feed.xml">
                <span>RSS</span>
                <svg aria-hidden="true" width="24" height="24">
                  <use href="#rss"></use>
                </svg>
              </a>
            </li>
        </ul>
      </nav>
    </div>
  </div>
</header>