<svg style="display: none;">
  <defs>
    <symbol id="logo" viewBox="0 0 48 48">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M2.81,42.05S23.15,21.73,22.74,14.42c0,0,.47-4.66-4.71-3.66,0,0-11.45,3.69-1.33,24.1,0,0,1.76,4.71,4.27-1.47l1.22-3.07c1.81-4.7,2.56-1.22,2.94-.06l.55,4.9s.52,3.93,2.54-2.94l1.26-4.34s.8-2.51,1.6-.31l.25,6.32s.9,2.83,2.28-.45L35.76,27s1.74-1.7,1.45,1.65L36.85,34s-.64,8.14,4.76,1.78a21.1,21.1,0,1,0-10.77,8.27" />
    </symbol>
    <symbol id="left-arrow" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="19" y1="12" x2="5" y2="12"></line>
      <polyline points="12 19 5 12 12 5"></polyline>
    </symbol>
    <symbol id="right-arrow" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="5" y1="12" x2="19" y2="12"></line>
      <polyline points="12 5 19 12 12 19"></polyline>
    </symbol>
  </defs>
</svg>
