<div class="tag-list">
  <span class="tag-list__label" id="tags-label">Tags:</span>
  <ul role="list" aria-labelledby="tags-label">
    {% set denyList = "post note" %}
    {% for tag in tags %}
    {% if tag not in denyList %}
    <li><a href="/tags/{{ tag | slugify }}">#{{ tag }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>