<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@levimcg" />
<meta name="twitter:creator" content="@levimcg" />
<meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{% if teaser %}{{ teaser | striptags(true) }}{% else %}{{ site.tagline }}{% endif %}" />
{% if ogImage %}
<meta property="og:image" content="{{ site.baseurl }}/{{ ogImage }}" />
{%- else -%}
<meta property="og:image" content="{{ site.baseurl }}/img/headshot-2017-600x600.jpg" />
{%- endif -%}