<nav aria-labelledby="my-pagination" class="pagination">
    <h2 id="my-pagination" class="sr-only">This is my Pagination</h2>
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">Newer posts</a>
    {% endif %}
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Older posts</a>
    {% endif %}
  </nav>