{% for year, postsInYear in collections.postsByYear %}
{% if loop.index != 1 %}
<h2 class="font-size-500 font-weight-regular" style="--flow-space: var(--space-600);">{{ year }}</h2>
{% endif %}
<ol role="list" class="list-reset post-list">
  {% for post in postsInYear | reverse %}
    <li>
      <div class="post-teaser flow">
        <a class="post-teaser__title" href="{{ post.url }}">{{ post.data.title }}</a>
        {% if post.data.description %}
        <p class="post-teaser__description">{{ post.data.description }}</p>
        {% endif %}
        <div class="icon-label m-top-300">
          <div class="icon">
            <svg aria-hidden="true" width="20" height="20">
              <use href="#calendar"></use>
            </svg>
          </div>
          <time class="dt-published" datetime="{{ post.date | datetimeFormat }}">{{ post.date | dateFormatted }}</time>
        </div>
      </div>
    </li>
  {% endfor %}
</ol>
{% endfor %}